<template>
    <div> 
        If not click <a @click="khalti()"><u>here</u></a>
    </div>
</template>

<script>
    import KhaltiCheckout from "khalti-web";

    import Swal from 'sweetalert2';

    var this_this = this;
    let config = {
        // replace this key with yours
        "publicKey": "test_public_key_8df040ec46cf4390a5dd2dde44edb878",
        "eventHandler": {
            onSuccess (payload) {
                // hit merchant api for initiating verfication
                this_this.default.methods.khaltiSuccess(payload);
            },
            // onError handler is optional
            onError (error) {
                // handle errors
                console.log(error);
            },
            onClose () {
                // console.log('widget is closing');
            }
        }
    };

    let checkout = new KhaltiCheckout(config);

    export default {

        data: function() {
            return {
                grand_total : 1000,  //khalti requires price in paisa
                product_id : 'default',
                name : 'Product(s)',
                url : 'https://memykids.com'   
            };
        },

         beforeMount(){
             this.getData();
        },

        //  created : function(){
        //     this.getData();  
        // },

        methods : {
           khalti : function(){
            //    console.log('khalti called');
               checkout.show({amount: this.grand_total,
                             productIdentity: this.product_id,
                             productName: this.name,
                             productUrl: this.url 
                });
           },

           khaltiSuccess: function(payload){
              
                self = this;
                // console.log("khalti succes method ")
                axios.get('/khalti/store', {params:payload})
                .then(function (response) {
                           Swal.fire({
                            position: 'center',
                            type: 'info',
                            title: 'Payment Successfully initiated',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    // console.log("get trasaction method called");
                    self.getTransaction(payload.idx);
                    // self.verifyTransaction(payload);
                     
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })   
           },

           verifyTransaction : function(khaltiTransaction){
                var self = this;
                let data = {
                    "token": khaltiTransaction.token,
                    "amount": khaltiTransaction.amount
                };

                axios.put("/khalti/verify",data)
                    .then(response =>{
                         Swal.fire({
                            position: 'center',
                            type: 'success',
                            title: 'Payment Successful',
                            showConfirmButton: false,
                            timer: 1500
                        });
                       window.location = route('khalti.success',khaltiTransaction.idx);
                    })
                    .catch(error => {
                         Swal.fire({
                            position: 'center',
                            type: 'error',
                            title: 'Payment Unsuccessful',
                            showConfirmButton: false,
                            timer: 1500
                        });
                        console.log(error);

                        window.flashMessages = [{'type': 'alert-error', 'message': "{{ __('shop::app.common.error') }}" }];
                        self.$root.addFlashMessages();

                        window.location = route('memy.checkout.onepage.index');
                    })
           },

           getTransaction : function(idx){
                self = this;
                // console.log("get trasaction method");
                axios.get('/khalti/get', {params:{ id : idx}})
                .then(function (response) {
                    var khaltiTransaction =  response.data;
                    // console.log("verify trasaction method called");
                    self.verifyTransaction(khaltiTransaction);
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })

           },
    
            getData : function(){
            // console.log('get cart items');
            var self =this;
                axios.get('/api/checkout/cart')
            .then(function (response) {
                // handle success
                var data = response.data.data;
                self.grand_total = parseInt(data.grand_total) *100;
                self.product_id = data.id;
                var productNames = 'products:';
                data.items.forEach(function(item){
                    productNames = productNames.concat('-',item.name);
                });
                self.name = productNames;
                self.khalti();
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            
        },

           
        }
         
    }
</script>