//flash messages.
@import "mixins";
@import "variables";
.alert-wrapper {
    width: 300px;
    bottom: 10px;
    right: 10px;
    position: fixed;
    z-index: 100;
    text-align: left;
    .alert {
        width: 300px;
        padding: 15px;
        @include border-radius(3px);
        display: inline-block;
        @include box-shadow( 0px 4px 15.36px 0.64px rgba(0, 0, 0, 0.1), 0px 2px 6px 0px rgba(0, 0, 0, 0.12));
        position: relative;
        animation: jelly 0.5s ease-in-out;
        transform-origin: center top;
        z-index: 500;
        margin-bottom: 10px;
        &.alert-error {
            background: $danger-color;
        }
        &.alert-info {
            background: $info-color;
        }
        &.alert-success {
            background: $success-color;
        }
        &.alert-warning {
            background: $warning-color;
        }
        .icon {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }
        p {
            color: #ffffff;
            margin: 0px;
            padding: 0px;
            font-size: 15px;
        }
    }
}