// Left Side Menu Icon
%menu-properties {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
}
.custom-icon {
    display: inline-block;
    background-size: cover;
}

.search-icon {
    background-image: url("../images/icon-search.svg");
    width: 24px;
    height: 24px;
}

.white-cross-sm-icon {
    background-image: url("../images/Icon-Sm-Cross-White.svg");
    width: 18px;
    height: 18px;
}

.menu-icon {
    background-image: url("../images/icon-menu.svg");
    width: 24px;
    height: 24px;
}

.add-to-wishlist {
    background-image: url('../images/wishlist.svg');
    position: absolute;
    top: 10px;
    right: 12px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 32px;
    height: 32px;

    &:hover {
        background-image: url('../images/wishlist-added.svg');
    }
}

.eye-icon {
    background-image: url("../images/Icon-eye.svg");
    width: 24px;
    height: 24px;
}