@charset "UTF-8";
@import "icons";
body {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

section {
    overflow: hidden;
}

ul,
ol {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

a {
    transition: 0.3s;
}

a:hover,
a:focus,
a:active,
a:visited {
    transition: 0.3s;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #484848;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-size: 28px;
    line-height: 32px;
}

h4 {
    font-size: 24px;
    line-height: 28px;
}

h5 {
    font-size: 20px;
    line-height: 24px;
}

h6 {
    font-size: 18px;
    line-height: 22px;
}

p {
    line-height: 22px;
    color: #6e6e6f;
    margin-bottom: 4px;
}

figure {
    overflow: hidden;
    margin-bottom: 0;
}

figcaption {
    color: #6e6e6f;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

label {
    font-size: 13px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #808080;
    //margin-left: 12px;
}

input {
    color: #272727;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14px;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 14px;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 14px;
}

.table th,
.table td {
    vertical-align: middle;
}

table thead tr {
    background: #eee;
}

.slick-slide:hover,
.slick-slide:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-15 {
    margin-top: 15px;
}

.page-pagination {
    margin: 0 auto;
}

.page-pagination .page-item .active {
    color: #00A8EC;
}

.no-padder {
    padding: 0 !important;
}

.form-control {
    font-size: 14px;
    height: 40px;
}

.form-control:focus {
    box-shadow: none;
    font-size: 14px;
}

.formbox {
    height: 50px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 0.875rem;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 12px 30px;
    letter-spacing: 1px;
    border-radius: 4px;
    color: #ffffff;
    transition: 0.5s;
    font-weight: 500;
}

.btn:focus,
.btn.focus {
    box-shadow: none;
}

.btn-primary {
    background: #00A8EC;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #16bcff;
    border-color: #16bcff;
}

.btn-secondary {
    background: #E3007B;
    border-color: #E3007B;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background: #ba0065;
    border-color: #ba0065;
}

.btn-outline {
    background: transparent;
    border: 1px solid #00A8EC;
    color: #484848;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    background: #00A8EC;
    border-color: #00A8EC;
    color: #ffffff;
}

.btn-white {
    background: transparent;
    border-color: #ffffff;
    border-radius: 0;
    color: #ffffff;
}

.btn-white:hover {
    color: #ffffff;
    border-color: #ffffff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background: #20bfff;
    border-color: #20bfff;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background: #b0005f;
    border-color: #b0005f;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

//multilevel dropdown
//.dropdown-submenu {
//    position: relative;
//}
.dropdown-submenu>a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

code {
    color: #B06AB3;
    background: #fff;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}

.menucontainer {
    .container {
        padding: 0;
    }
    .dropdown-menu {
        border-radius: 0;
        min-height: 56vh;
        min-width: 250px;
        top: 96%;
        margin-left: -1px;
        padding: 5px 0;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
        .active {
            background: #fafafa;
            color: #000;
        }
    }
    .inner-dropdown {
        top: 0;
        .dropdown-item {
            color: #484848;
        }
    }
    .dropdown-item {
        font-size: 14px;
        padding: 5px 20px;
        display: flex;
        align-items: center;
        width: 99.9%;
        position: relative;
        img {
            width: 20px;
            margin-right: 8px;
        }
        &:hover {
            color: #000;
        }
        &:after {
            position: absolute;
            top: 70%;
            right: 15%;
        }
    }
    .dropdown-toggle::after {
        margin-top: -18px;
    }
    .navbar {
        background: #00a8ec;
        padding: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        padding: 12px 16px;
    }
    .inner-dropdown-title h6 {
        color: #000;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        padding: 15px 0 6px 0;
        border-bottom: 1px solid #e8e8e8;
        margin: 0 20px 4px 20px;
    }
}

//@media (min-width: 991px) {
//    .dropdown-menu {
//        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//    }
//}
//multilevel dropdown
//.container {
//    max-width: 1250px;
//}
header {
    height: 76px;
    position: sticky;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 998;
    margin-bottom: 45px;
}

.nav-up {
    top: -76px; // same as header height. use variables in LESS/SASS
}

.top-navbar {
    background-image: url("../images/headerbackground-light.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-navbar .navbar-brand {
    width: 120px;
    padding: 0;
    padding-top: 5px;
}

.top-navbar .navbar {
    padding: 0 1rem;
}

.top-navbar .navbar .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    margin-top: 10px;
}

.top-navbar .navbar .dropdown-menu {
    top: 90%;
    right: 0;
    padding: 10px 0;
    border-radius: 0;
    min-width: 10rem;
    position: absolute;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)!important;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #fff !important;
    color: #00a8ec;
}

.top-navbar .navbar .dropdown-item {
    padding: 8px 16px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #f9f9f9;
}

.top-navbar .hydrated {
    color: #E3007B;
    font-size: 24px;
}

.top-navbar .nav-link {
    font-size: 14px;
    display: flex;
}

.top-navbar .nav-link .hydrated {
    margin-right: 6px;
}

.top-navbar form {
    position: relative;
}

.top-navbar form>button i {
    color: #ffffff;
    font-size: 20px;
}

.top-navbar .btn-secondary {
    padding: 8px 24px 9px 24px;
    //border-radius: 50px;
    position: absolute;
    right: 1.5%;
}

.top-navbar .formbox {
    width: 550px;
    margin-left: 64px;
    height: 44px;
    //border: 1px solid #00a8ec;
    //box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12)
}

.top-navbar ::-webkit-input-placeholder {
    font-size: 14px !important;
}

.top-navbar ::-moz-placeholder {
    font-size: 14px !important;
}

.top-navbar .nav-item {
    position: relative;
}

.top-navbar .notification {
    height: 18px;
    width: 18px;
    background: #00A8EC;
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: -10%;
    left: 42%;
}

.top-navbar .wishlist-notification {
    left: 44%;
}

.top-navbar .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 4px;
    padding-right: 4px;
    text-transform: capitalize;
}

.discount {
    background-image: url("../images/discount.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50px;
    position: relative;
}

.discount figure {
    height: 50px;
}

.discount-announcement {
    position: absolute;
    top: 26%;
    left: 37%;
    transform: translate(-3%, -11%);
    color: #ffffff;
}

.discount-announcement a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    float: left;
}

.discount-announcement .btn-secondary {
    border-radius: 50px;
    font-size: 13px;
    margin-left: 185px;
    margin-right: 10px;
    padding: 6px 16px;
}

.discount-announcement .btn-close {
    color: #00A8EC;
    font-weight: 400;
    font-size: 15px;
    border: 2px solid #00A8EC;
    padding: 0 6px;
    border-radius: 50%;
    background: transparent;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 3px;
}

.banner-slider,
.icon-slider,
.brand-slider,
.testimonial-slider {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

.banner-slider.slick-initialized {
    visibility: visible;
    opacity: 1;
}

.banner-item {
    position: relative;
}

.banner-caption {
    clip-path: polygon(0 0, 30% 0, 48% 100%, 0% 100%);
    background-color: #7bcad1ed;
    position: absolute;
    top: 0;
    left: 0;
    width: 115vw;
    height: 350px;
    article {
        position: absolute;
        top: 25%;
        left: 9%;
        h1,
        p {
            color: #fff;
        }
        h1 {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 12px;
            max-width: 290px;
            line-height: 42px;
            font-family: 'Playfair Display', serif;
        }
        p {
            margin-bottom: 16px;
            font-size: 16px;
        }
        .btn-secondary {
            border-radius: 25px;
        }
    }
    .circle-red {
        background: #767676;
        border-radius: 50px;
        color: #fff;
        font-size: 16px;
        padding: 13px 12px;
        font-weight: 600;
        position: absolute;
        top: -30%;
        right: -60%;
        height: 55px;
        width: 55px;
    }
    .btn-secondary {
        background: #FFC8E7;
        border-color: #FFC8E7;
        color: #000;
        &:hover {
            background: darken(#FFC8E7, 5%);
            border-color: darken(#FFC8E7, 5%);
        }
    }
}

.banner-image {
    height: 350px;
    overflow: hidden;
    figcaption {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-10%, -50%);
        h2 {
            font-size: 36px;
            color: #222;
        }
        h4 {
            font-size: 26px;
            margin: 14px 0;
            color: #222;
            span {
                color: #E3007B;
                font-weight: 700;
                font-size: 32px;
            }
        }
        p {
            margin-bottom: 22px;
            color: #222;
        }
    }
    img {
        height: 350px;
    }
}

.icon-slider.slick-initialized {
    visibility: visible;
    opacity: 1;
}

.brand-slider.slick-initialized {
    visibility: visible;
    opacity: 1;
}

.testimonial-slider.slick-initialized {
    visibility: visible;
    opacity: 1;
}

.section-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: capitalize;
}

.age-group {
    padding-top: 10px;
}

.age-group .section-heading {
    margin-bottom: 8px;
}

.age-group .icon-item {
    text-align: center;
}

.age-group .circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #E3007B;
    position: relative;
    margin: 16px auto;
    transition: all .3s ease;
}

.age-group .circle:hover {
    -webkit-box-shadow: 0 0 0 8px rgba(227, 0, 123, 0.3), 0 0 0 16px rgba(227, 0, 123, 0.1);
    -moz-box-shadow: 0 0 0 8px rgba(227, 0, 123, 0.3), 0 0 0 16px rgba(227, 0, 123, 0.1);
    box-shadow: 0 0 0 8px rgba(227, 0, 123, 0.3), 0 0 0 16px rgba(227, 0, 123, 0.1);
}

.age-group .circle:hover .circle-icon {
    opacity: 1;
}

.age-group .circle-icon {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

.age-group .icon-title {
    color: #111;
    font-weight: 500;
    font-size: 15px;
}

.age-group .icon-title sub {
    bottom: -0.05em;
    font-weight: 400;
    font-size: 70%;
}

.age-group .slick-prev:before {
    content: url("../images/beforearrow.png");
}

.age-group .slick-next:before {
    content: url("../images/nextarrow.png");
}

.age-group .slick-prev,
.age-group .slick-next {
    top: 35%;
}

.age-group .slick-prev {
    left: -50px;
}

.age-group .slick-next {
    right: -50px;
}

.product-wrapper {
    background: #f7f7f7;
    padding: 32px 0 20px 0;
    height: 495px;
}

.product-wrapper .slick-prev,
.product-wrapper .slick-next {
    top: 40%;
}

.product-wrapper .slick-prev {
    left: -30px;
}

.product-wrapper .slick-next {
    right: -30px;
}

.product-box {
    width: 19%;
    margin: 0 5px;
}

.product-slider {
    padding: 0 12px;
    min-height: 300px;
}

.product {
    background: #ffffff;
    min-height: 325px;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border: 1px solid #f1f1f1;
    &:hover {
        .product-info {
            margin-top: 70px;
        }
    }
}

.product:hover .product-ellipseshape {
    height: 210px;
    background: #E3007B;
}

.display-none {
    display: none;
}

.product:hover .display-none {
    display: block;
}

.product:hover .btn-white {
    display: block;
}

.product .hydrated {
    font-size: 28px;
    color: #ff0000;
    position: absolute;
    top: 2%;
    right: 2%;
}

.product .btn-circle {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 115px auto;
}

//.product-image {
//  width: 200px;
//  margin: 0 auto;
//  margin-top: 36px;
//}
.product-ellipseshape {
    -webkit-clip-path: ellipse(63% 75% at 50% 86%);
    clip-path: ellipse(63% 75% at 50% 86%);
    background: #33b8ef;
    height: 155px;
    width: 100%;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.product-info {
    text-align: center;
    margin-top: 60px;
}

.product-info h5,
.product-info p,
.product-info strike,
.product-info strong {
    color: #ffffff;
}

.product-info h5 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}

.product-info p {
    font-size: 12px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.product-info strike {
    color: #f2f2f2;
    cursor: auto;
}

.product-info strong {
    cursor: auto;
}

.product-info .btn-white {
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    margin-top: 10px;
    width: 100%;
    display: none;
    opacity: 0.8;
    background: #f2f2f2;
    border-color: #f2f2f2;
    color: #484848;
}

.product-info .btn-white:hover {
    opacity: 1;
}

.product-info span strong {
    font-size: 16px;
}

.circle-shape {
    height: 50px;
    width: 50px;
    background: #ff0000;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 4%;
}

.circle-shape p {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: 16px;
    margin-top: 10px;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-shape p span {
    font-size: 14px;
    font-weight: 400;
}

.offers {
    padding: 24px 0 32px 0;
}

.offers .text-content h3 {
    color: #E3007B;
    font-size: 46px;
    line-height: 28px;
    font-family: 'Playfair Display', serif;
}

.offers .text-content span {
    font-size: 28px;
    font-weight: 500;
}

.offers .bg-image {
    position: relative;
}

.offers .text-content {
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.offers .btn-secondary {
    margin-top: 28px;
}

.offers .text-contentblue {
    left: 68% !important;
}

.offers .text-contentblue h3 {
    color: #072471;
}

.offers .text-contentblue .btn-secondary {
    background: #072471;
    border-color: #072471;
    margin-top: 28px;
}

.offers .more-offers {
    margin: 0 auto;
    margin-top: 30px;
}

.brands {
    background: #FBFBFB;
    padding: 32px 0 24px 0;
}

.brands .brand-slider {
    margin-top: 28px;
}

.brands .brand-logo {
    width: 80px;
    margin: 0 auto;
}

.banner {
    .slick-prev {
        left: 3%;
        top: 40%;
        z-index: 990;
    }
    .slick-next {
        right: 3%;
        top: 40%;
        z-index: 990;
    }
}

.slick-prev:before {
    content: url("../images/beforearrow.png");
}

.slick-next:before {
    content: url("../images/nextarrow.png");
}

.slick-prev,
.slick-next {
    top: 12%;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

.testimonial {
    background-image: url("../images/testimonialbg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 320px;
}

.testimonial .quote {
    text-align: center;
}

.testimonial .hydrated {
    font-size: 50px;
    color: #00A8EC;
}

.testimonial .testimonial-slider {
    padding: 32px 0 18px 0;
}

.testimonial .testimonial-item p {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    line-height: 26px;
}

.testimonial .testimonial-item article {
    text-align: center;
}

.testimonial .testimonial-item article h5 {
    font-size: 16px;
}

.testimonial .testimonial-item article p {
    font-size: 14px;
}

.testimonial .rating {
    text-align: center;
    margin: 16px 0 4px 0;
}

.testimonial .rating .hydrated {
    color: #000;
    font-size: 18px;
}

.testimonial .rating .checked {
    color: orange;
}

.testimonial .slick-dots li {
    margin: 0;
    width: 18px;
    height: 18px;
}

.testimonial .slick-dots li button:before {
    font-size: 12px;
    color: #484848;
    opacity: 0.90;
}

.testimonial .slick-dots li.slick-active button:before {
    color: #00A8EC;
}

.checked {
    color: orange;
}

.service {
    background: #7bcad1ed;
    padding: 32px 0 22px 0;
}

.service .icon-img {
    width: 50px;
    margin: 0 auto;
    margin-bottom: 12px;
}

.service .icon-img img {
    filter: brightness(0) invert(1);
}

.service .icons-block figcaption {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.footer {
    padding: 50px 0;
    background: #327391;
    color: #ffffff;
}

.footer-block strong {
    font-weight: 600;
    font-size: 15px;
}

.footer-block p {
    color: #ffffff;
    font-size: 14px;
    margin-top: 10px;
}

.footer-list {
    margin-top: 10px;
}

.footer-list li a {
    color: #ebebeb;
    font-size: 13px;
    line-height: 26px;
}

.footer-list li a:hover {
    color: #ffffff;
}

.subscribe-formcontrol {
    height: 46px;
    border-radius: 0;
}

.subscribe-form {
    margin-top: 10px;
}

.subscribe-form .form-inline {
    position: relative;
}

.subscribe-form .subscribe-formcontrol {
    width: 100%;
}

.subscribe-form .btn-primary {
    position: absolute;
    right: 0;
    border-radius: 0;
    padding: 12px 22px;
}

.social-network {
    margin-top: 22px;
}

.social-network ul li {
    float: left;
    margin-right: 12px;
    margin-top: 10px;
}

.social-network ul li a {
    color: #ffffff;
}

.social-network ul li a:hover {
    color: #ffffff;
}

.social-network .hydrated {
    font-size: 28px;
}

.copyright {
    background: #225f78;
    padding: 8px 0 4px 0;
}

.copyright p {
    font-size: 12px;
    color: #ebebeb;
    text-align: center;
}

.productdetail {
    padding: 40px 0;
}

.productdetail .bestseller__rating {
    margin: 0;
}

.productdetail .bestseller__rating .fa-star {
    font-size: 0.875rem;
    margin-right: 4px;
}

.productdetail__type h4 {
    margin-bottom: 12px;
    line-height: 36px;
}

.productdetail__type p {
    font-size: 0.875rem;
    margin-top: 8px;
}

.productdetail__detail {
    margin-top: 32px;
    border: 1px solid #ddd;
    padding: 16px 32px 32px;
    min-height: 250px;
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        background: transparent;
    }
    .nav-tabs .nav-item {
        margin-bottom: 0;
    }
}

.productdetail__detail .nav-tabs .nav-item.show .nav-link,
.productdetail__detail .nav-tabs .nav-link.active {
    border: transparent;
}

//.productdetail__detail .nav-tabs .nav-link:focus, .productdetail__detail .nav-tabs .nav-link:hover{
//    border-color: #f8f8f8;
//}
.productdetail__detail .tab-content {
    font-size: 14px;
    padding-top: 10px;
}

.productdetail__detail .tab-content article {
    margin-top: 8px;
}

.productdetail__detail .tab-content ul {
    margin-top: 8px;
    color: #6e6e6f;
    margin-left: 20px;
}

.productdetail__detail .tab-content ul li {
    list-style: disc;
}

.productdetail__detail .nav-item a {
    font-size: 15px;
    font-weight: 600;
    color: #484848;
}

.productdetail__detail li {
    margin: 0 12px;
    &:nth-child(1) {
        margin-left: 0;
    }
}

.productdetail__detail .nav-tabs {
    display: flex;
}

.productdetail__detail .nav-tabs .nav-link:focus,
.productdetail__detail .nav-tabs .nav-link:hover {
    border-color: #ffffff;
}

.productdetail__detail .nav-tabs .nav-item.show .nav-link,
.productdetail__detail .nav-tabs .nav-link.active {
    border-color: #fff;
    border-bottom: 2px solid #333;
    padding-left: 0;
}

.productdetail__quantity {
    display: flex;
    justify-content: space-between;
}

.productdetail__number {
    display: flex;
    align-items: baseline;
    margin: 16px 0;
    label {
        margin-right: 12px;
        margin-left: 0;
    }
}

.productdetail__number .button {
    cursor: pointer;
    padding: 3px 16px 6px 16px;
    font-size: 1.2rem;
    &:hover,
    &:focus {
        background: #efefef;
    }
}

.productdetail__number .decrement {
    border-right: none;
}

.productdetail__number .increment {
    border-left: none;
}

.productdetail__number input {
    width: 36px;
    text-align: center;
    border: none;
}

.productdetail__number .numberbox {
    display: flex;
    align-items: baseline;
    border: 1px solid #ddd;
    margin-left: 0;
}

.productdetail__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    padding: 16px 0;
}

.productdetail__price h4 {
    margin-right: 24px;
    font-size: 22px;
    font-weight: 600;
    color: #484848 !important;
}

.productdetail__number label {
    font-size: 14px;
}

.productdetail__price strike {
    padding-right: 24px;
    color: #ff0000;
    border-right: 1px solid #ddd;
    font-size: 14px;
}

.productdetail__price span {
    padding: 2px 4px;
    font-size: 12px;
    color: #009432;
    font-weight: 700;
    text-transform: uppercase;
}

.productdetail__price .btn-secondary {
    padding: 12px 36px;
}

//.productdetail .btn-secondary {
//    padding: 12px 76px;
//}
.productdetail__socialshare {
    display: flex;
    padding-top: 16px;
    padding-bottom: 8px;
}

.productdetail__socialshare p {
    margin-bottom: 6px;
    margin-right: 16px;
    display: inline;
}

.productdetail__socialshare .footer__social {
    display: inline-flex;
    align-items: center;
}

.productdetail__socialshare .footer__social li {
    margin-right: 12px;
    width: 26px;
}

.productdetail__socialshare .footer__social-icon i:hover {
    color: #484848;
}

.productdetail__socialshare .hydrated {
    font-size: 24px;
    color: #6e6e6f;
}

.productdetail .bestseller__rater {
    color: orange;
    font-size: 14px;
    margin-left: 6px;
}

.productdetail__total {
    margin-top: 8px;
}

.productdetail__total .btn-secondary {
    margin: 15px 0 30px 0;
    padding: 12px 36px;
    width: 100%;
}

.productdetail .show {
    width: 100%;
    height: 100%;
}

//.productdetail .small-img {
//width: 400px;
//height: 70px;
//margin-top: 10px;
//position: relative;
//left: 0;
//}
.productdetail .small-img .icon-left,
.productdetail .small-img .icon-right {
    width: 12px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.productdetail .small-img .icon-left {
    transform: rotate(270deg);
    top: -100%;
    left: 6.5%;
}

.productdetail .small-img .icon-right {
    transform: rotate(90deg);
    top: 104%;
    left: 6.5%;
}

.productdetail .small-img .icon-left:hover,
.productdetail .small-img .icon-right:hover {
    opacity: .5;
}

.productdetail .small-container {
    overflow: hidden;
    position: absolute;
    left: 14px;
    top: 4%;
    a {
        margin-bottom: 6px;
        width: 20%;
    }
}

.productdetail .small-container div {
    //width: 800%;
    //position: relative;
    display: flex;
    flex-flow: column;
}

.productdetail .small-container .show-small-img {
    width: 70px;
    height: 70px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
}

.productdetail .small-container .show-small-img:last-of-type {
    margin-right: 0;
}

.product-main-img {
    display: flex;
    flex-wrap: wrap-reverse;
    height: 360px;
    overflow: hidden;
    margin-top: 30px;
}

.productdetail .shopmore {
    margin-top: 36px;
}

.productdetail #big-img {
    z-index: 2222;
    opacity: 1;
}

.productdetail__cartbtn .btn-primary {
    width: 100%;
    display: flex;
    align-items: center;
}

.productdetail__cartbtn .btn-primary i {
    margin-left: 5px;
}

.productdetail__wishlist {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    border-right: 0;
    padding: 18px 0;
    justify-content: space-between;
}

.productdetail__wishlist a {
    display: flex;
}

.productdetail__wishlist i {
    font-size: 22px;
}

.productdetail__wishlist .hydrated {
    font-size: 24px;
    color: #00A8EC;
    margin-right: 5px;
}

.productdetail__wishlist div {
    margin-right: 20px;
}

.delivery-charge {
    border-bottom: 1px solid #e0e0e0;
    padding: 16px 0;
    article {
        display: flex;
        justify-content: space-between;
    }
}

.productdetail .rating {
    display: flex;
    align-items: center;
}

.productdetail .rating .checked {
    color: orange;
}

.pagenav {
    background: #eee;
}

.breadcrumb {
    padding: 5px 0;
    background: #eee;
    margin-bottom: 0;
}

.breadcrumb li a {
    font-size: 14px;
}

.breadcrumb .active {
    font-size: 14px;
    line-height: 25px;
}

.productselect {
    margin-bottom: 12px;
    .control-error {
        margin-top: 6px;
    }
    label {
        font-size: 14px;
        margin-left: 0;
    }
}

.productselect .custom-select {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 2px solid #00A8EC;
    height: 45px;
}

.productdetail__container {
    button {
        width: 48%;
    }
    .btn-primary {
        margin-right: 7px;
    }
    .btn-secondary {
        margin-left: 7px;
    }
    .rating {
        .hydrated {
            color: #797979;
            font-size: 16px;
        }
        .checked {
            color: #ffa500;
        }
    }
}

.similar-products {
    margin-top: 40px;
    border-top: 1px solid #ddd;
}

.similar-products .section-heading {
    margin-top: 32px;
    font-size: 24px;
}

.similar-products .product-addcart {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.similar-products .product-addcart .btn-outline {
    border-radius: 0;
    padding: 8px 8px;
    text-transform: none;
    padding-bottom: 6px;
}

.similar-products .product-addcart .btn-wishlist {
    border-left: none;
}

.similar-products .product-addcart .btn-wishlist .hydrated {
    font-size: 18px;
}

.similar-products .hide {
    display: none;
}

.similar-products .product-spec {
    margin-top: 10px;
}

.similar-products .product-spec article a {
    font-weight: 600;
    display: block;
    color: #484848;
    font-size: 15px;
}

.similar-products .product-spec article a:nth-child(2) {
    font-weight: 400;
}

.similar-products .product-small {
    min-height: 335px;
    position: relative;
}

.similar-products .product-small:hover .hide {
    display: block;
}

.review .section-heading {
    font-size: 24px;
    text-align: left;
}

.review {
    margin: 40px 0 32px 0;
}

.review .section-heading {
    font-size: 24px;
}

.review__log p {
    margin-bottom: 6px;
    font-size: 0.875rem;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    color: #484848;
}

.review .bestseller__rating {
    float: left;
    width: 100px;
}

.review .bestseller__rating>.fa-star {
    font-size: 0.625rem;
}

.bestseller__rating .hydrated {
    color: #797979;
    font-size: 16px;
}

.bestseller__rating .checked {
    color: #ffa500;
}

.review__date {
    font-size: 0.75rem;
}

.review__detail {
    font-size: 14px;
    font-weight: 600;
}

.review__detail p {
    font-size: 0.875rem;
    margin-bottom: 10px;
    font-weight: 400;
}

.review .rate {
    float: left;
    padding: 0;
    p {
        margin-bottom: -5px;
        margin-top: 5px;
    }
}

.review .rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.review .rate:not(:checked)>label {
    float: right;
    width: 24px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 26px;
    color: #ccc;
}

.review .rate:not(:checked)>label:before {
    content: '★ ';
}

.review .rate>input:checked~label {
    color: orange;
}

.review .rate:not(:checked)>label:hover,
.review .rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.review .rate>input:checked+label:hover,
.review .rate>input:checked+label:hover~label,
.review .rate>input:checked~label:hover,
.review .rate>input:checked~label:hover~label,
.review .rate>label:hover~input:checked~label {
    color: #c59b08;
}

.category {
    padding: 40px 0;
    min-height: 500px;
}

.category .result-display {
    font-size: 14px;
    margin-bottom: 16px;
    background: #ffffff;
    padding: 8px 0;
    .row {
        align-items: baseline;
    }
}

.category .result-display label {
    font-weight: 400;
}

.category .result-display p {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #484848;
    text-transform: uppercase;
}

.category .result-sort {
    text-align: right;
}

.category .result-sort .custom-select {
    width: 60%;
    border: none;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    border-radius: 0;
}

.filter-products {
    width: 24%;
    margin: 0 4px;
    .product {
        margin-bottom: 10px;
    }
}

.category>.row>.col-lg-9>.row>.col-lg-3 {}

.custom-select:focus {
    box-shadow: none;
}

.filter {
    background: #ffffff;
    padding: 10px;
}

.filter p {
    font-weight: 500;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    text-transform: uppercase;
    color: #8c8c8c;
    i {
        font-size: 15px;
    }
}

.filter .sub-content {
    margin-left: 12px;
}

.filter .form-check-input {
    margin-top: 6px;
}

.filter .form-check-label {
    font-size: 14px;
    margin-bottom: 0;
}

.category-blocks .accordion {
    margin: 0 auto;
    max-width: 30em;
}

.category-blocks .toggle {
    display: none;
}

.category-blocks .option {
    position: relative;
    margin-bottom: 1em;
}

.category-blocks .title,
.category-blocks .content {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.2s;
}

.category-blocks .title {
    background: #ffffff;
    padding: 8px 0;
    display: block;
    color: #484848;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 4px;
}

.category-blocks .title:after,
.category-blocks .title:before {
    content: '';
    position: absolute;
    right: 1.25em;
    top: 0.95em;
    width: 2px;
    height: 0.75em;
    background-color: #484848;
    transition: all 0.2s;
}

.category-blocks .option {
    margin-bottom: 0;
}

.category-blocks .active {
    margin-bottom: 20px;
}

.category-blocks>.accordion>.option:nth-child(1) {
    margin-bottom: 16px;
}

.category-blocks .title:after {
    transform: rotate(90deg);
}

.category-blocks .content {
    max-height: 0;
    overflow: hidden;
    background-color: #ffffff;
    label {
        font-weight: 400;
        margin-top: 1px;
    }
}

.category-blocks .content p {
    margin: 0;
    padding: 0.5em 1em 1em;
    font-size: 0.9em;
    line-height: 1.5;
}

.category-blocks .toggle:checked+.title+.content {
    max-height: fit-content;
    // overflow-y: scroll;
}

.category-blocks .toggle:checked+.title:before {
    transform: rotate(90deg) !important;
}

.result-list label {
    text-transform: uppercase;
    font-size: 13px;
}

.pagination-nav {
    float: right;
}

.pagination .page-item {
    font-size: 14px;
}

.pagination .page-item .active {
    color: #E3007B;
    font-weight: 500;
}

.pagination .page-link {
    border: none;
    color: #327391;
    padding: 4px 6px;
}

.pagination .page-link:hover {
    background: none;
}

.cart,
.cancel,
.order {
    padding: 40px 0 45px 0;
}

.cart--head,
.cancel--head,
.order--head {
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
}

.cart .table,
.cancel .table,
.order .table {
    color: heading-color;
}

.cart .table th,
.cancel .table th,
.order .table th {
    color: #484848;
    font-weight: 500;
}

.cart .table td,
.cancel .table td,
.order .table td {
    vertical-align: middle;
}

.cart .table td span,
.cancel .table td span,
.order .table td span {
    font-size: 14px;
    color: #6e6e6f;
}

.cart .table td a,
.cancel .table td a,
.order .table td a {
    color: #6e6e6f;
}

.cart .table td .fa-cart-arrow-down,
.cancel .table td .fa-cart-arrow-down,
.order .table td .fa-cart-arrow-down {
    font-size: 22px;
}

.cart .table .total th,
.cancel .table .total th,
.order .table .total th {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.cart__image,
.cancel__image,
.order__image {
    width: 80px;
    margin-bottom: 0;
}

.cart .btn-primary .fa-cart-arrow-down,
.cancel .btn-primary .fa-cart-arrow-down,
.order .btn-primary .fa-cart-arrow-down {
    font-size: 18px;
    margin-left: 5px;
}

.cart__box,
.cancel__box,
.order__box {
    width: 40%;
}

.form-label {
    font-size: 14px;
    margin-bottom: 8px;
}

.form-box {
    margin-bottom: 8px;
}

.register {
    background-image: url("../images/loginbg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
    width: 100%;
    padding: 40px 0;
}

.register__box {
    max-width: 450px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 5px;
}

.register__block {
    padding: 36px 32px;
    border-radius: 5px;
    .v--modal-overlay .v--modal-background-click {
        .v--modal-box {
            height: auto !important;
        }
    }
}

.register__block .btn-primary {
    width: 100%;
}

.register--heading {
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 12px;
    text-decoration: underline;
}

.register--forgotpwd {
    font-size: 13px;
    margin-bottom: 5px;
}

.register .btn-primary {
    margin-top: 12px;
    padding: 8px 30px;
}

.register--divider {
    font-size: 0.875rem;
    text-align: center;
    position: relative;
    margin-top: 16px;
}

.register--divider:before {
    content: "";
    width: 45%;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 55%;
    left: 0;
}

.register--divider:after {
    content: "";
    width: 45%;
    height: 1px;
    background: #ddd;
    position: absolute;
    top: 55%;
    right: 0;
}

.register__textcontent p {
    margin-bottom: 0;
    font-size: 13px;
}

.register .signup__box {
    max-width: 700px;
}

.register__other .btn {
    width: 100%;
}

.register__other .btn-facebook {
    background: #415e9b;
}

.register__other .btn-google {
    background: #34a853;
}

.register .alternate-login .btn-facebook,
.register .alternate-login .btn-google {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register .alternate-login .btn-facebook figure,
.register .alternate-login .btn-google figure {
    width: 16px;
    display: inline-block;
    margin-right: 5px;
}

.register .alternate-login .btn-facebook {
    background: #3e5c9a;
}

.register .alternate-login .btn-google {
    background: transparent;
    border-color: #ddd;
    color: #484848;
}

.btn-facebook {
    margin-top: 5px;
}

.btn-google {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 5px;
}

.reset-password {
    height: 445px;
}

.signup {
    padding: 40px 0;
    height: 510px;
}

.signup .form-check-label {
    margin-top: 2px;
}

.signup .register--divider {
    margin-top: 8px;
}

.dashboard {
    background: #fff;
    padding: 40px 0;
}

.dashboard .dashboard-sidebar h5 {
    font-size: 16px;
    font-weight: 500;
    padding-left: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.dashboard .dashboard-sidebar ul {
    display: inline;
}

.dashboard .dashboard-sidebar ul a {
    padding-left: 0px;
    padding-right: 0px;
}

.dashboard .nav-tabs .nav-item.show .nav-link,
.dashboard .nav-tabs .nav-link.active {
    border-color: transparent;
    color: #00A8EC;
}

.dashboard .nav-tabs .nav-link:focus,
.dashboard .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.dashboard .nav-tabs .nav-link {
    color: #484848;
    border-radius: 0;
}

.dashboard .dashboard-content {
    min-height: 475px;
}

.dashboard .dashboard-content .tab-pane h5 {
    font-size: 16px;
    font-weight: 500;
    padding-left: 0;
    margin-bottom: 8px;
    border-bottom: none !important;
    padding-bottom: 8px;
}

.dashboard .dashboard-content .tab-pane {
    strong,
    span {
        font-size: 14px;
    }
}

.dashboard .dashboard-content table th {
    font-weight: 600;
    font-size: 14px;
    border-top: none;
    min-width: 60px;
}

.dashboard .dashboard-content table td {
    font-size: 14px;
    padding: 10px 0;
    padding-left: 10px;
}

.dashboard .dashboard-content table td i {
    color: #49a7d2;
    font-size: 24px;
}

.dashboard .dashboard-content table td .fa-cart-plus {
    font-size: 22px;
}

.dashboard .dashboard-content table td .fa-times {
    font-size: 16px;
}

.dashboard .dashboard-content ul.nav-tabs {
    //padding: 10px 0 22px 0 !important;
    padding: 16px 0 !important;
}

.dashboard .bill-address {
    padding: 32px 36px;
    -webkit-box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.11);
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.11);
    margin-top: 24px;
    padding-top: 10px;
    min-height: 272px;
    p {
        font-size: 13px;
        color: #000000;
        background: #cde5ef;
        padding: 5px;
    }
    a {
        i {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}

.dashboard .bill-address h5 {
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px;
    padding-bottom: 6px;
}

.dashboard .bill-address address {
    line-height: 28px;
}

.dashboard .bill-address .btn-outline {
    border-color: #E3007B;
    padding: 10px 32px;
    border-radius: 0;
}

.dashboard .bill-address .btn-outline:hover {
    background: #E3007B;
}

.dashboard .bill-address .btn-outline:focus {
    background: #E3007B;
    box-shadow: none;
}

.dashboard .profile .form-group {
    border-bottom: 1px solid #ddd;
    position: relative;
}

.dashboard .profile label {
    font-size: 15px;
}

.dashboard .profile h5 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 24px;
    padding-bottom: 10px;
}

.dashboard .profile p {
    font-size: 15px;
    font-weight: 500;
}

.dashboard .profile input {
    font-weight: 500;
    border: none;
    display: inline;
    padding: none;
    line-height: 22px;
    color: #6e6e6f;
}

.dashboard .profile input.btn-primary {
    width: auto;
    line-height: 16px;
    margin-top: 15px;
}

.dashboard .profile select {
    font-size: 15px;
    font-weight: 500;
    border: none;
    display: inline;
    font-family: inherit;
    padding: none;
    line-height: 22px;
    color: #6e6e6f;
}

.dashboard .profile .btn-outline {
    border-color: #E3007B;
    padding: 10px 32px;
    border-radius: 0;
}

.dashboard .profile .form-group {
    width: 50%;
    margin-top: 8px;
}

.dashboard .profile .form-group {
    input:-internal-autofill-selected {
        background-color: none !important;
    }
    //span.control-error{
    //    font-size: 12px;
    //    color: #ff0000;
    //    position: absolute;
    //    top: 51%;
    //    left: 2%;
    //}
}

.control-error {
    font-size: 12px;
    color: #ff0000;
    margin-top: -6px;
    display: block;
}

.dashboard .trackorder .circular-shape {
    height: 70px;
    width: 70px;
    border: 2px solid #484848;
    border-radius: 50%;
    position: relative;
}

.dashboard .trackorder .circular-shape p {
    position: absolute;
    bottom: -55%;
    left: -36%;
    width: 130px;
    text-align: center;
}

.dashboard .trackorder .active {
    background: #E3007B;
    border-color: #E3007B;
}

.dashboard .trackorder .active img {
    filter: brightness(0) invert(1);
}

.dashboard .trackorder .center-circle {
    position: relative;
}

.dashboard .trackorder .center-circle:before {
    content: "";
    height: 2px;
    width: 60px;
    background: #484848;
    position: absolute;
    top: 50%;
    left: -128%;
}

.dashboard .trackorder .center-circle:after {
    content: "";
    height: 2px;
    width: 60px;
    background: #484848;
    position: absolute;
    top: 50%;
    left: 135%;
}

.dashboard .trackorder .circular-icon {
    width: 40px;
    margin: 0 auto;
    margin-top: 10px;
}

.dashboard .trackorder .track-line {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.termscondition {
    padding: 40px 0;
}

.termscondition .section-heading {
    text-align: left;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.termscondition__article {
    margin-bottom: 8px;
}

.termscondition__article h5 {
    font-weight: 600;
    font-size: 14px;
}

.termscondition__article p {
    font-size: 14px;
}

.shipping {
    padding: 50px 0;
}

.shipping--heading {
    font-size: 16px;
    font-weight: 600;
    background: #e9f0fb;
    padding: 10px 12px;
    margin-bottom: 20px;
    margin-top: 32px;
}

.shipping__bill {
    padding: 0 32px;
    border-radius: 5px;
    margin-top: 0;
    .form-group {
        margin: 10px 0;
    }
    h4 {
        font-size: 15px;
        //margin-left: 12px;
    }
}

.delivery-location,
.payment-option {
    .form-check-inline {
        margin-left: 12px;
    }
    label {
        margin-left: 6px;
        font-size: 14px;
    }
}

.shipping__ship {
    display: none;
    margin-top: 16px;
}

.shipping__otheraddress {
    margin-bottom: 8px;
}

.shipping__otheraddress .form-check-label {
    font-size: 0.875rem;
}

.shipping__otheraddress .form-check {
    padding-left: 0;
    display: flex;
    align-items: center;
}

.shipping__otheraddress .form-check label {
    margin-left: 8px;
}

.shipping .btn-primary {
    margin: 10px 0;
    width: 100%;
}

.nav-link {
    padding: 8px 0;
}

.productlist {
    height: auto;
    margin-top: 32px;
    padding: 18px;
    border-left: 1px solid #ddd;
    padding-top: 0;
}

.productlist--heading {
    font-size: 1rem;
    font-weight: 600;
    padding-left: 12px;
}

.productlist__image {
    width: 100px;
    margin-bottom: 0;
    margin-right: 15px;
    position: relative;
}

.productlist__number {
    height: 18px;
    width: 18px;
    background: #00A8EC;
    border-radius: 50px;
    font-size: 0.6875rem;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 3%;
    left: 76%;
    color: #ffffff;
}

.productlist table tr {
    border-bottom: 1px solid #f1f1f1;
}

.productlist table tr:nth-last-child(1) {
    border: none;
}

.productlist table td {
    padding: 16px 8px;
    vertical-align: middle;
    border: none;
}

.productlist table td p {
    font-size: 0.75rem;
    line-height: 16px;
    margin-bottom: 0;
}

.productlist table .productlist__detail {
    width: 60%;
}

.productlist table .productdetail__amount {
    font-weight: 600;
}

.productlist table .prductlist__total td {
    font-weight: 700;
}

.productlist .btn-primary {
    width: 100%;
    margin-top: 20px;
}

.productlist__payment {
    border-top: 1px solid #ddd;
    padding-top: 8px;
}

.productlist__payment label {
    font-size: 0.875rem;
    margin-bottom: 8px;
}

.confirm-shipaddress {
    display: block;
    border-top: 1px solid #ddd;
    padding-top: 24px;
}

.thankyou {
    padding: 40px 0;
}

.thankyou__block {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 48px 60px;
}

.thankyou__textbox .hydrated {
    font-size: 100px;
    color: #00A8EC;
}

.thankyou__textbox h4 {
    margin: 8px 0 16px 0;
    font-weight: 600;
}

.thankyou__textbox .btn-primary {
    margin-top: 10px;
}

.bloglist {
    padding: 40px 0;
}

.bloglist__desc {
    margin-top: 8px;
}

.bloglist__desc h5 {
    font-weight: 600;
    font-size: 1.25rem;
}

.bloglist__desc h5 a {
    color: #484848;
}

.bloglist__desc span {
    font-size: 13px;
    color: #6e6e6f;
    font-weight: 300;
}

.bloglist__desc p {
    margin: 8px 0;
}

.bloglist__item {
    margin-bottom: 36px;
}

.bloglist__item .btn-outline {
    text-transform: none;
}

.blogdetail__content {
    padding: 36px 0;
}

.blogdetail__content h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.blogdetail__content p {
    font-size: 16px;
}

.blogdetail__content figure {
    margin: 24px 0;
}

.blogdetail__blogger {
    background: #fafafa;
    padding: 16px 0;
}

.blogdetail__blogger-info {
    padding-left: 15px;
}

.blogdetail__blogger-info span {
    font-size: 0.75rem;
    color: #6e6e6f;
}

.blogdetail__sidebar {
    padding: 36px 0 36px 24px;
}

.blogdetail__sidebar-item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
    margin-bottom: 24px;
}

.blogdetail__sidebar-item h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.blogdetail__sidebar-item ul li a {
    color: #484848;
    font-size: 16px;
}

.blogdetail__sidebar-item ul li span {
    font-size: 0.75rem;
    color: #6e6e6f;
    display: block;
}

.blogdetail .productdetail__socialshare {
    margin-top: 32px;
    justify-content: left;
}

.blogdetail .productdetail__detail .nav-item a {
    padding-left: 0 !important;
}

.partners {
    padding: 40px 0;
}

.partners .section-heading {
    border: none;
    margin-bottom: 8px;
    text-decoration: underline;
}

.partners--info {
    text-align: center;
    margin: 0 64px;
    margin-bottom: 10px;
}

.partners__image {
    width: 110px;
    margin: 24px auto;
}

.contact__parallaxbg {
    background-image: url("../images/contact.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    position: relative;
}

.contact--tag {
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact__container {
    padding: 40px 0;
}

.contact--heading {
    font-weight: 500;
}

.contact__text p {
    margin: 10px 0;
}

.contact__text address {
    color: #6e6e6f;
    margin: 10px 0;
    line-height: 28px;
}

.contact__map {
    margin-top: 24px;
}

.contact .contact__map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.contact .contact__map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.faq {
    padding: 40px 0;
}

.faq-container {
    max-width: 684px;
    margin: 0 auto;
}

.faq-content {
    margin-top: 32px;
}

.faq-answer {
    margin: 8px 0 12px 0;
}

.faq-answer strong {
    font-weight: 500;
}

.support .fill-banner {
    background: #F3F3F5;
    height: 400px;
    position: relative;
}

.support .fill-banner article {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.support .fill-banner h1 {
    line-height: 50px;
    margin-bottom: 24px;
}

.support .fill-banner p {
    padding: 0 80px;
}

.support-questions {
    padding: 4px 0 0;
}

.support-questions .card {
    margin-bottom: 20px;
    border: none;
}

.support-questions .card-header {
    background-color: #fff;
    border: none;
    padding: 0;
    h5 {
        font-size: 16px;
        font-weight: 600;
    }
}

.support-questions .card-header h5 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
}

.support-questions .card-body {
    padding: 1.25rem 0;
    line-height: 24px;
}

.faq-askquestion .btn-primary {
    padding: 12px 50px;
}

.about .section-heading {
    text-align: left;
    margin-bottom: 8px;
}

.about-bgimage {
    background-image: url("../images/about-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}

.about-content {
    padding: 40px;
    padding-bottom: 0;
    margin: 0 auto;
}

.about-objective {
    padding: 40px;
}

.about .p-b-0 {
    padding-bottom: 0;
}

.about .objective-group {
    margin-bottom: 8px;
}

.about .objective-group h5 {
    font-size: 16px;
    font-weight: 600;
}

.search-wrapper {
    position: relative;
    background: #ffffff;
    border-radius: 20px;
    transform-origin: 100% 50%;
    height: 40px;
    cursor: pointer;
    transition: 250ms ease;
    width: 85%;
    margin-left: 15px;
}

.search-wrapper.focused {
    width: 350px;
}

.search-wrapper.focused input {
    padding: 0 40px 0 13px;
    width: 100%;
    transform: scale(1);
}

.search-wrapper input {
    background: transparent;
    border: 0;
    outline: none;
    height: 40px;
    overflow: hidden;
    font-weight: 100;
    transform: scale(1);
    transform-origin: 0 50%;
    transition: 275ms ease;
    padding: 0 40px 0 13px;
    width: 100%;
}

.search-wrapper input::placeholder {
    color: #cccccc;
}

.search-wrapper i {
    position: absolute;
    color: white;
    font-size: 18px;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}

.search-wrapper .btn-secondary {
    padding: 6px 20px;
    border-radius: 16px;
}

.zoom-img {
    width: auto;
    //height: 50%;
    margin: 0 auto;
}

.search-suggestion {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 0 9px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 0 9px 0 rgba(0, 0, 0, 0.16);
    z-index: 10;
    text-align: left;
    border-radius: 3px;
    background-color: #ffffff;
    width: 90%;
    max-height: 200px;
    overflow-y: auto;
    margin-left: 64px;
    margin-bottom: -90px;
    position: absolute;
    top: 40px;
    left: 0;
    li {
        padding-top: 2px;
        padding-right: 10px;
        padding-bottom: 2px;
        padding-left: 10px;
        cursor: pointer;
        border-bottom: 1px solid #e8e8e8;
    }
}

.search-suggestion-title {
    font-size: 0.9em;
    color: gray;
    padding-left: 10px;
    width: 100%;
    border-bottom: 1px solid #bbb7b7;
    display: flex;
}

.pagination {
    margin: 0 auto;
    padding: 6px;
    background: transparent;
    border-radius: 50px;
    justify-content: center;
    li.page-item {
        padding: 5px 10px;
    }
}

.pagination>li>a.page-link {
    // background-color: transparent !important;
}

.pagination>.active>.page-link:hover {
    background: #007bff;
}

.page-item.active .page-link {
    padding: 6px 10px;
    border-radius: 50px;
    &:hover {
        background: #007bff;
    }
}

.page-link:focus {
    box-shadow: none;
}

.pagination .page-link:hover {
    background: none;
}

.high-selling {
    background: #fff;
}

.high-selling .pagination-block {
    background: #fff;
}

.register__box .form-group {
    margin-bottom: 8px;
}

.dashboard .nav-tabs .nav-link {
    font-size: 15px;
    padding: 4px 32px;
}

.dashboard-sidebar {
    background: #fbfbfb;
    padding: 14px 0;
}

.dashboard .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background: none;
    padding: 2px 32px;
    border-left: 3px solid #e3077e;
    border-radius: 0;
}

.dashboard .nav-tabs .nav-item.show .nav-link,
.dashboard .nav-tabs .nav-link.active {
    color: #e3077e;
    font-weight: 600;
}

.dashboard .nav-tabs .nav-item {
    margin: 12px 0;
}

.dashboard .dashboard-content .profile-image {
    margin-top: 16px;
}

.dashboard .dashboard-content h4 {
    font-size: 24px;
    color: #222;
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 6px;
}

.dashboard .dashboard-content h5 {
    font-weight: 600;
    margin: 10px 0 0 0;
    font-size: 16px;
    padding-bottom: 8px;
}

.dashboard .dashboard-content .card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border: none;
    margin-right: 10px;
    width: 15.5rem;
    .card-title {
        font-size: 14px;
        font-weight: 600;
    }
    .card-body {
        padding: 16px;
    }
    h5 {
        margin: 0;
        padding-bottom: 5px;
        margin-bottom: 8px;
    }
    p {
        font-size: 14px;
    }
}

.dashboard-content {
    .table-responsive {
        overflow-x: hidden !important;
    }
}

.dashboard .profile .form-group {
    margin-bottom: 6px;
}

.dashboard .edit-btn {
    font-size: 14px;
}

.filter-row-one {
    display: flex;
    justify-content: space-between;
}

.green-box {
    background: #009432;
}

.dashboard-block-box {
    border-radius: 6px;
    padding: 40px;
    p,
    h3 {
        color: #fff;
    }
    p {
        font-size: 14px;
    }
}

.yellow-box {
    background: #FFC312;
}

.red-box {
    background: #EA2027;
}

.blue-box {
    background: #1B1464;
}

.dashboard-block,
.dashboard-lower-block {
    display: flex;
    justify-content: space-between;
}

.dashboard-block {
    margin-top: 20px;
}

.dashboard-block-box {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.dashboard-lower-block {
    margin-top: 32px;
}

.dashboard-lower-block-box {
    width: 48%;
    background: #f5f5f5;
    padding: 64px 32px;
    border-radius: 5px;
    p {
        font-size: 14px;
    }
    &:hover {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    }
}

.dashboard-total-spent {
    padding: 10px 0;
    margin-top: 32px;
    p {
        font-size: 14px;
    }
}

.dashboard-content h5 {
    border-bottom: 1px solid #ddd;
}

.dashboard-support article a {
    margin-right: 16px;
    font-size: 14px;
}

.dashboard-support article p {
    font-size: 14px;
}

.profile-image figure {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 15px;
    position: relative;
    border: 1px solid #f7f7f7;
}

.profile-image figcaption {
    position: absolute;
    top: 49px;
    left: 0;
    display: none;
    a {
        color: #000;
    }
}

.halfCircleBottom {
    height: 50px;
    width: 100%;
    border-radius: 0 0 90px 90px;
    background: rgba(0, 0, 0, 0.5);
}

.profile-image figure:hover figcaption {
    display: block;
    transition: 0.5s ease;
}

.profile-image figcaption a {
    font-size: 12px;
    color: #fff;
    padding: 16px 8px;
}

//.filter-row-one {
//    margin-top: 10px;
//}
.user-image {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    margin-right: 8px;
}

.pagination li a.page-link {
    background-color: transparent;
}

.review__reviewer {
    background: #f5f5f580;
    padding: 16px 18px;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
}

.productdetail .pagination {
    margin: 0;
}

.productdetail__socialshare .footer__social li a i {
    font-size: 20px;
    //color: #fff;
}

.productdetail .small-container .show-small-img {
    border: 1px solid #ddd;
}

.review-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    .pagination {
        width: auto;
    }
}

.review-modal {
    .modal-body {
        padding: 0 24px 24px 24px;
        .btn-primary {
            margin-top: 10px;
        }
        //&:hover {
        //    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
        //}
    }
    .dashboard-total-spent {
        padding: 10px 0;
        margin-top: 32px;
        p {
            font-size: 14px;
        }
    }
    .dashboard-content h5 {
        border-bottom: 1px solid #ddd;
    }
    .dashboard-support article a {
        margin-right: 16px;
        font-size: 14px;
    }
    .dashboard-support article p {
        font-size: 14px;
    }
    .profile-image figure {
        width: 100px;
        margin-bottom: 15px;
        position: relative;
    }
    .profile-image figcaption {
        position: absolute;
        top: 75px;
        left: 0;
        display: none;
    }
    .profile-image figcaption a mark {
        font-size: 14px;
        background: #ffff00;
    }
    .filter-row-one {
        margin-top: 10px;
    }
    .user-image {
        width: 24px;
        border: 1px solid #b3b3b4;
        border-radius: 50px;
        margin-right: 3px;
    }
    .pagination li a.page-link {
        background-color: transparent;
    }
    .review__reviewer {
        background: #f5f5f580;
        padding: 24px 18px;
        border-radius: 10px;
        margin: 10px 0;
        display: flex;
    }
    .productdetail .pagination {
        margin: 0;
    }
    .productdetail__socialshare .footer__social li a i {
        font-size: 20px;
    }
    .productdetail .small-container .show-small-img {
        border: 1px solid #ddd;
    }
    .review-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        .pagination {
            width: auto;
        }
    }
    .review-modal {
        .modal-body {
            padding: 0 24px 24px 24px;
            .btn-primary {
                margin-top: 10px;
            }
        }
        .modal-header {
            padding: 16px 24px;
        }
        .modal-title {
            font-size: 16px;
            text-transform: uppercase;
        }
        .modal-dialog {
            margin: 5rem auto;
        }
        .modal-body .review__form .form-group label {
            margin-bottom: 4px;
            font-size: 14px;
        }
        .modal-body .review__form .form-group {
            margin-bottom: 8px;
        }
    }
    .dashboard-content h5 {
        border-bottom: 1px solid #ddd;
    }
    .dashboard-support article a {
        margin-right: 16px;
        font-size: 14px;
    }
    .dashboard-support article p {
        font-size: 14px;
    }
    .profile-image figure {
        width: 100px;
        margin-bottom: 15px;
        position: relative;
    }
    .profile-image figcaption {
        position: absolute;
        top: 75px;
        left: 0;
        //display: none;
    }
    .profile-image figcaption a {
        font-size: 13px;
        background: #f7f7f7;
    }
    .filter-row-one {
        margin-top: 10px;
    }
    .user-image {
        width: 24px;
        border: 1px solid #b3b3b4;
        border-radius: 50px;
        margin-right: 3px;
    }
    .pagination li a.page-link {
        background-color: transparent;
    }
    .review__reviewer {
        background: #f5f5f580;
        padding: 24px 18px;
        border-radius: 10px;
        margin: 10px 0;
        display: flex;
    }
    .productdetail .pagination {
        margin: 0;
    }
    .productdetail__socialshare .footer__social li a i {
        font-size: 20px;
    }
    .productdetail .small-container .show-small-img {
        border: 1px solid #ddd;
    }
    .review-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        .pagination {
            width: auto;
        }
    }
    .review-modal {
        .modal-body {
            padding: 0 24px 24px 24px;
            .btn-primary {
                margin-top: 10px;
            }
        }
        .modal-header {
            padding: 16px 24px;
        }
        .modal-title {
            font-size: 16px;
            text-transform: uppercase;
        }
        .modal-dialog {
            margin: 5rem auto;
        }
        .modal-body .review__form .form-group label {
            margin-bottom: 4px;
            font-size: 14px;
        }
        .modal-body .review__form .form-group {
            margin-bottom: 8px;
        }
    }
}

//.review .rate:not(:checked) > label:hover, .review .rate:not(:checked) > label:hover ~ label{
//    color: orange;
//}
.review .modal-title {
    font-size: 18px;
    line-height: 18px;
    margin: 10px 0 0 10px;
    font-weight: 600;
}

.review .modal-header {
    padding: 12px 16px;
    padding-bottom: 0;
}

.review .modal-dialog {
    max-width: 425px;
}

.review__form {
    .form-group {
        margin-bottom: 10px;
    }
    label {
        margin-bottom: 4px;
    }
}

.modal-header .close {
    margin: -12px -16px -1px 0;
    background: #636363;
    opacity: 1;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    padding: 16px 22px;
}

.cart-flow {
    padding-top: 50px;
    padding-bottom: 50px;
}

.item-selected h5 {
    font-size: 20px;
    color: #00a8ec;
    margin-bottom: 20px;
}

.item-selected-info {
    display: flex;
    position: relative;
    border-radius: 5px;
    margin: 36px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    justify-content: space-between;
    &:nth-last-child(1) {
        border: none;
    }
    figure {
        width: 20%;
        margin-right: 20px;
    }
    .item-selected-desc {
        width: 85%;
        margin-right: 20px;
        .productdetail__number {
            input {
                padding: 4px 12px !important;
            }
        }
    }
    .addto-wishlist {
        display: none;
    }
    .close-btn {
        width: 10%;
    }
    .wishlist-btn {}
    .close-btn {
        font-size: 18px;
        background: #c7c7c7;
        position: absolute;
        top: 4px;
        right: -10px;
        color: #fff;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        overflow: hidden;
        padding-left: 2px;
        &:hover {
            background: #222;
            transition: 0.5s ease-out;
            cursor: pointer;
        }
    }
    .serial-number {
        width: 10%;
        p {
            height: 30px;
            width: 30px;
            background: #c7c7c7;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            padding-top: 3px;
            font-weight: 600;
        }
    }
}

.item-selected-desc article {
    h5 {
        font-size: 16px;
        font-weight: 700;
        color: #484848;
        margin-bottom: 0;
    }
    p {
        font-size: 14px;
        margin: 6px 0;
        line-height: 18px;
    }
    strong {
        color: #e40d81;
        font-size: 20px;
        color: #e40d81;
        font-size: 16px;
        font-weight: 700;
    }
}

.shopping-bills {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    p {
        font-size: 14px;
    }
}

.shopping-cart {
    margin-bottom: 50px;
    h5 {
        font-size: 20px;
        margin-bottom: 14px;
        span {
            font-size: 14px;
        }
    }
}

.shopping-cart-billing .shopping-bills {
    p {
        font-size: 15px;
        font-weight: 600;
    }
    h5 {
        margin-bottom: 0;
    }
    h4 {
        font-size: 20px;
        font-weight: 700;
        color: #e40d81;
    }
}

.item-selected {
    border-right: 1px solid #ddd;
    padding-right: 50px;
}

.shopping-cart-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    a {
        margin-left: 15px;
    }
}

#writereview {
    border: none;
}

.rating-star span {
    font-size: 14px;
}

.rating-star i {
    color: #c3c3c3;
    font-size: 14px;
}

.rating-star .checked {
    color: orange;
}

.rating-star span {
    display: block;
    color: #fff;
    font-size: 12px;
}

.delivery-location form {
    margin-top: 16px;
}

.delivery-location .form-check-inline label {
    font-size: 14px;
    margin-right: 28px;
}

.navbar>form>input {
    position: relative;
}

.search-suggestion li {
    padding: 8px 10px;
    font-size: 14px;
}

.search-suggestion-title {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 10px;
}

.dashboard-filter {
    margin-top: 22px;
    form {
         ::-webkit-input-placeholder {
            font-size: 14px;
        }
         ::-moz-placeholder {
            font-size: 14px;
        }
         :-ms-input-placeholder {
            font-size: 14px;
        }
         :-moz-placeholder {
            font-size: 14px;
        }
    }
}

.dashboard-filter-box form {
    label {
        font-size: 13px;
        margin-bottom: 0;
    }
    select {
        font-size: 14px;
    }
    input {
        font-size: 14px;
    }
    .form-group {
        margin-bottom: 0;
    }
}

.dashboard-filter-box label {
    margin-bottom: 4px;
}

.dashboard-filter-range {
    display: flex;
    justify-content: space-between;
    .form-group {
        width: 48%;
    }
}

.dashboard .dashboard-content {
    ul.nav-tabs {
        padding: 10px 0;
        li a {
            padding: 6px 12px;
            color: #000;
            font-size: 14px;
        }
        li a.active {
            background: #00a8ec;
            font-weight: 600;
            color: #fff;
        }
    }
    .tab-pane {
        padding-top: 10px;
        font-size: 15px;
        h5 {
            font-size: 15px;
            font-weight: 600;
        }
    }
}

.text-red {
    color: #e30a80;
    &:hover {
        color: darken(#e30a80, 10);
    }
}

.btn-delete {
    border: 1px solid #b20864;
    padding: 8px 20px;
    &:hover {
        background: #b20864;
        color: #fff;
    }
}

.btn-outline {
    &:hover {
        color: #fff !important;
    }
}

.table th {
    font-weight: 600 !important;
}

.table td .hydrated {
    font-size: 24px;
}

.navbar-light .navbar-nav .nav-link {
    color: #222;
}

.dashboard-content .btn-outline {
    padding: 8px 20px;
    color: #222;
}

.dashboard-content .btn-delete {
    color: #222;
}

.dashboard-content .btn-delete:hover {
    color: #fff !important;
}

.dashboard .dashboard-content {
    border-left: 1px solid #ddd;
    padding-left: 30px;
    .grid-container {
        .filter-row-two {
            display: flex;
            justify-content: space-between;
            background: #eee;
            //padding: 15px;
        }
    }
}

.search-icon {
    filter: brightness(120%);
    width: 22px;
    height: 22px;
}

.navbar form .btn-secondary {
    border: none;
    background: #00a8ec;
    right: 0;
    border-radius: 0 4px 4px 0;
    &:hover {
        background: darken(#00a8ec, 5);
    }
}

#writereview .modal-dialog {
    margin-top: 8rem;
}

.v--modal-box {
    width: 400px !important;
    left: auto !important;
    margin: 0 auto !important;
}

.dashboard-sidebar-profile {
    padding: 5px 0;
    text-align: center;
    background: #fbfbfb;
    padding-top: 16px;
    .profile-image figure {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin: 0 auto;
        margin-bottom: 15px;
        position: relative;
        border: 1px solid #f7f7f7;
    }
    .profile-image figcaption {
        position: absolute;
        top: 49px;
        left: 0;
        display: none;
    }
    article {
        text-align: center;
        border-bottom: 1px solid #ddd;
        margin: 0 26px;
        padding-bottom: 10px;
        h6 {
            margin-bottom: 4px;
            text-transform: capitalize;
        }
    }
}

#changepassword .modal-dialog {
    margin: 0 auto;
    margin-top: 8rem;
    .modal-header h5 {
        border-bottom: 0;
        margin: 6px 8px;
    }
    .modal-body {
        padding-top: 10px;
        label {
            margin-bottom: 5px;
        }
    }
}

.dashboard .address-block {
    .form-control {
        border: 1px solid #ced4da;
    }
    .form-group {
        border: none;
    }
    .btn-primary {
        //margin-top: 10px;
        color: #fff;
    }
    .btn-outline {
        margin-top: 24px;
    }
}

.productlist-desc {
    display: flex;
    margin-top: 15px;
}

.productlist-info {
    font-weight: 600;
    margin-right: 10px;
    p {
        font-size: 15px;
        line-height: 20px;
    }
}

.productlist-remove i {
    color: #989898;
}

.productlist-totaling {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 15px;
}

.productlist-totaling-list {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    p {
        font-size: 15px;
        font-weight: 600;
    }
}

.swal2-container {
    z-index: 99999 !important;
}

.search-product {
    width: 24%;
    margin: 0 4px;
}

.searched-results h6 {
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0 0 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
    font-weight: 600;
}

.menu-container {
    // display: none !important;
}

.footer-fix-mobnav {
    background: #fff;
    padding: 12px 0;
    display: none;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16), 0 2px 0 0 rgba(0, 0, 0, 0.12);
    ul {
        display: flex;
        justify-content: space-evenly;
    }
    li {
        text-align: center;
        a {
            color: #00a8ec;
            i {
                font-size: 22px;
            }
        }
        a.active {
            color: #e3007b;
        }
    }
}

.fixed {
    position: fixed !important;
    width: 100%;
    bottom: 0;
}

.search-mobile-view {
    display: none;
    background: #00a8ec;
    padding: 1px 10px;
    form {
        position: relative;
    }
    .btn-secondary {
        position: absolute;
        right: 0;
        background: transparent;
        border: none;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 125px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 28px;
    margin-left: 50px;
    color: #222;
    width: 100%;
    background: beige;
    padding-left: 200px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.mobile-filter {
    display: none;
}

.order-totalling>tbody>tr>td:nth-child(1) {
    width: 150px;
}

.order-totalling {
    margin-right: 8px;
    margin-bottom: 24px;
}

.order-totalling>tbody>tr>td:nth-child(3) {
    width: 150px;
    text-align: right;
}

.order-grand-total {
    font-weight: 700;
    font-size: 15px !important;
}

.review-rating-table {
    display: flex;
    padding-top: 36px !important;
}

.add-to-wishlist {
    background-image: url("../images/heart-outline.svg");
    background-repeat: no-repeat;
    top: 10px;
    right: 2px;
}

.add-to-wishlist:hover {
    background-image: url("../images/heart-filled.svg");
}

.button-as-anchor {
    background: none;
    border: none;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.grecaptcha-badge {
    display: none !important;
    visibility: hidden !important;
}

.swatch-container {
    margin-top: 10px;
    display: inline-block;
}

.swatch {
    display: inline-block;
    margin-right: 5px;
    min-width: 40px;
    height: 40px;
    .color-select-box {
        min-width: 38px;
        height: 38px;
        float: left;
        border: 1px solid #C7C7C7;
        border-radius: 3px;
        line-height: 36px;
        text-align: center;
        cursor: pointer;
        padding: 0 10px;
    }
    input:checked+.color-select-box {
        border: 1px solid #242424;
    }
    input {
        display: none;
    }
}

.tree-container {
    .active {
        margin-bottom: 4px;
    }
    .tree-item {
        padding-left: 30px;
        display: inline-block;
        width: 100%;
        >.tree-item {
            display: none;
        }
        &.active>.tree-item {
            display: inline-block;
        }
        .checkbox {
            margin: 0;
            display: inline-block;
        }
        .radio {
            margin: 0;
            display: inline-block;
        }
        .expand-icon {
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
            background-image: url("../images/Expand-Light.svg");
            width: 18px;
            height: 18px;
            vertical-align: middle;
        }
        .non-expand-icon {
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
            // background-image: url("../images/Expand-Light.svg");
            width: 18px;
            height: 18px;
            vertical-align: middle;
        }
        &.active {
            >.expand-icon {
                background-image: url("../images/Expand-Light-On.svg");
            }
        }
    }
    >.tree-item {
        padding-left: 0;
    }
}

#return-to-top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}