.menu-container {
    width: 100%;
    margin: 0 auto;
    background: #00A8EC;
    display: flex;
    justify-content: center;
}

.menu {
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.sticky+.content {
    padding-top: 60px;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
    content: "\f0c9 ";
    font-family: "FontAwesome";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    content: "\f067 ";
    font-family: "FontAwesome";
    display: none;
    cursor: pointer;
    float: right;
    padding: 0;
    background: #fff;
    color: #333;
}

.menu>ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu>ul:before,
.menu>ul:after {
    content: "";
    display: table;
}

.menu>ul:after {
    clear: both;
}

.menu>ul>li {
    float: left;
    background: #00A8EC;
    padding: 0 3px;
    margin: 0;
}

.menu>ul>li a {
    text-decoration: none;
    padding: 12px 10px;
    display: block;
    color: #fff;
    font-size: 15px;
}

.menu>ul>li:hover {
    background: #072471;
}

.menu>ul>li>ul {
    display: none;
    width: 98.4%;
    background: #fff;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0%;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 3px 18px -4px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 3px 18px -4px rgba(0, 0, 0, 0.48);
}

.menu>ul>li>ul:before,
.menu>ul>li>ul:after {
    content: "";
    display: table;
}

.menu>ul>li>ul:after {
    clear: both;
}

.menu>ul>li>ul>li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 20%;
    background: none;
    float: left;
}

.menu>ul>li>ul>li a {
    color: #777;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
}

.menu>ul>li>ul>li a:hover {
    color: #e3007b;
}

.subtitle-head {
    font-weight: 500;
    color: #484848;
}

.menu>ul>li>ul>li>ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu>ul>li>ul>li>ul:before,
.menu>ul>li>ul>li>ul:after {
    content: "";
    display: table;
}

.menu>ul>li>ul>li>ul:after {
    clear: both;
}

.menu>ul>li>ul>li>ul>li {
    float: left;
    width: 100%;
    padding: 4px 0;
    margin: 0;
    font-size: .8em;
}

.menu>ul>li>ul>li>ul>li a {
    border: 0;
}

.menu>ul>li>ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu>ul>li>ul.normal-sub>li {
    width: 100%;
}

.menu>ul>li>ul.normal-sub>li a {
    border: 0;
    padding: 1em 0;
}

.new-arrival {
    position: relative;
}

.new-arrival:after {
    content: "New";
    height: 16px;
    width: 35px;
    background: #ff0000;
    position: absolute;
    top: 0%;
    left: 24%;
    color: #fff;
    font-size: 11px;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    border-color: transparent;
}

.menu-search {
    display: none;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 991px) {
    .menu-search {
        display: block;
    }
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        padding: 0px 20px;
        display: block;
        color: #fff;
        visibility: hidden;
        position: absolute;
        top: 13%;
        right: 0;
    }
    .menu-mobile:hover {
        color: #fff;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu>ul {
        display: none;
        z-index: 11;
    }
    .menu>ul>li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu>ul>li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu>ul>li>ul {
        position: relative;
    }
    .menu>ul>li>ul.normal-sub {
        width: 100%;
    }
    .menu>ul>li>ul>li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu>ul>li>ul>li:first-child {
        margin: 0;
    }
    .menu>ul>li>ul>li>ul {
        position: relative;
    }
    .menu>ul>li>ul>li>ul>li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
    .menu-mobile:after {
        font-size: 28px;
        visibility: visible;
    }
    .menu-dropdown-icon:before {
        background: #00a8ec;
        color: #fff;
        padding: 6px;
        margin-right: 18px;
    }
    .menu>ul>li>ul>li {
        width: 32%;
        display: inline-grid;
        margin-top: 0;
    }
    .menu>ul>li>ul>li a.menu-image {
        display: none;
    }
    .new-arrival:after {
        top: -11%;
        left: 6%;
    }
}

@media only screen and (max-width: 480px) {
    .menu>ul>li>ul>li {
        width: 100%;
    }
    .menu-mobile {
        top: 12.6%;
    }
}

@media only screen and (max-width: 350px) {
    .menu-mobile:after {
        font-size: 24px;
    }
    .menu-mobile {
        top: 19.5%;
        right: -8px;
    }
}