@media (max-width: 1250px) {
    .discount-announcement .btn-secondary {
      margin-left: 110px;
    }
    .menu {
      padding: 0 20px;
    }
    .menu > ul > li a {
      padding: 12px 6px;
    }
    .similar-products .product-addcart {
      top: 55%;
    }

  }
@media (max-width: 1199px) {
  //.menucontainer > .navbar > .container > .navbar-toggler{
  //  position: absolute;
  //  top: -125px;
  //  right: 12px;
  //}
  .product-wrapper{
    height: auto;
  }
  .product-box{
    width: 23.5%;
  }
  .top-navbar .formbox{
    width: 450px;
  }
  .offers .text-content{
    left: 29%;
  }
  .offers .text-contentblue{
    left: 29% !important;
  }
  .dashboard-block{
    flex-wrap: wrap;
  }
  .dashboard-block-box{
    width: 48%;
    margin-bottom: 30px;
  }
  .dashboard-filter-box form .form-group{
    margin: 0 4px;
  }
  .productdetail .small-container{
    height: 440px;
  }
  .shopping-cart-actions{
    flex-wrap: wrap-reverse;
    .btn{
      width: 100%;
      margin-bottom: 10px;
      margin-left: 0;
    }
  }
  .dashboard-block-box{
    width: 100%;
  }
  .dashboard .bill-address{
    padding-left: 24px;
    padding-right: 24px;
    min-height: 300px;
  }
  .search-product{
    width: 31%;
  }
  .dashboard .dashboard-content .card{
    width: 12.5rem;
  }
  .menu-container{
    .navbar-nav{
      flex-direction: column;
    }
  }
  .menucontainer{
    .dropdown-menu{
      min-height: auto;
      padding: 5px 0 12px 0;
    }
    .navbar-toggler{
      border: none;
      position: absolute;
      right: 40px;
      top: -56px;
      &:focus{
        border-color: transparent;
      }
    }
    .dropdown-item:after{
      transform: rotate(90deg);
    }
  }
  .dashboard-content{
    .table-responsive{
      overflow-x: auto !important;
    }
  }
}
@media (min-width: 768px) and (max-width: 1199px){
  header{
    margin-bottom: -10px;
  }
  .search-mobile-view > form > input,
  .search-mobile-view > form > button {
    opacity: 0;
  }
}
  @media (max-width: 1024px) {
    .similar-products .product-addcart {
      top: 48%;
    }
    .menu {
      padding: 5px 0;
      height: 50px;
    }
    .menu > ul > li a {
      padding: 12px 6px;
      font-size: 13px;
    }
    .zoom-img{
      width: 65%;
    }
    .dashboard-block a{
      width: 48%;
    }
    .shipping > .container > .row > .offset-md-1{
      margin-left: 0;
    }
    .shipping__bill{
      padding: 0;
    }
    .top-navbar .formbox {
      width: 460px;
    }
    .navbar-expand-lg .navbar-nav{
      margin-right: 55px;
    }
  }
  
  @media (max-width: 991px) {
    header .top-navbar > .navbar > .container > div > .navbar-nav{
      margin-right: 0;
    }
    .top-navbar .navbar-expand-lg .navbar-nav .nav-link span{
      display: none;
    }
    .search-mobile-view{
      display: block;
      background: transparent;
    }
    header{
      height: 74px;
      .top-navbar > .navbar > .container > div > .navbar-nav{
        flex-direction: row;
      }
      .menu-container{
        .navbar-nav{
          flex-direction: column !important;
        }
        //.search-mobile-view{
        //  form{
        //    .formbox{
        //      width: 100% !important;
        //    }
        //  }
        //}
      }
      .navbar{
        padding-bottom: 0;
      }
    }
    //.menucontainer > .navbar > .container > .navbar-toggler{
    //  position: absolute;
    //  top: -125px;
    //  right: 12px;
    //}
    .product-box {
      width: 30%;
    }
    .banner-image{
      height: auto;
    }
    .offers .text-content h3{
      font-size: 36px;
    }
    .offers .text-contentblue{
      left: 29% !important;
    }
    .top-navbar .nav-item{
      margin: 0 4px;
    }
    .top-navbar .navbar-brand {
      width: 100px;
    }
    .top-navbar .formbox {
      margin-left: 0;
      width: 330px;
    }

    .top-navbar form {
      display: block;
    }
    .menucontainer .navbar-toggler{
      top: -120px;
    }
    .discount-announcement a {
      font-size: 16px;
    }
    .discount-announcement .btn-secondary {
      margin-left: 80px;
    }
    .discount-announcement .btn-secondary {
      font-size: 10px;
    }
    .discount-announcement .btn-close {
      font-size: 12px;
    }
    .product-info {
      top: 18%;
      left: 44%;
    }
    .offers .text-content {
      left: 32%;
    }
    .offers .text-contentblue {
      left: 34%;
    }
    .offers .text-contentblue .btn-secondary {
      margin-top: 16px;
    }
    .offers .btn-secondary {
      margin-top: 16px;
    }
    .service .icons-block figcaption {
      font-size: 16px;
    }
    .subscribe-form .btn-primary {
      padding: 12px 8px;
      font-weight: 400;
    }
    .about-valueimg {
      order: 2;
    }
    .about-objective figure {
      margin-top: 16px;
    }
    .blogdetail__sidebar-item ul li a {
      font-size: 14px;
    }
    .faq .subscribe-form .btn-primary {
      padding: 12px 24px;
    }
    .productdetail .small-img .icon-right {
      right: 6%;
    }
    .similar-products > .row > .col {
      width: 33%;
    }
    .similar-products .product-addcart {
      top: 60%;
    }
    .menu > ul > li a {
      padding: 8px 20px;
      font-size: 14px;
    }
    .productlist table .productlist__detail {
      width: 42%;
    }
    .shipping__bill,
    .productlist {
      margin-top: 16px;
    }
    .offers .bg-image{
      margin-bottom: 24px;
      figure{
        width: 540px;
        margin: 0 auto;
      }
    }
    .testimonial .testimonial-slider{
      padding-bottom: 0;
    }
    .service .icons-block{
      margin-bottom: 32px;
    }
    .productdetail__detail .nav-tabs .nav-item{
      width: 100%;
    }
    .shopping-cart-actions{
      margin-top: 30px;
    }
    .productdetail__container{
      button{
        width: 100%;
        margin-top: 0;
      }
    }
    .productdetail__detail .nav-tabs .nav-item{
      width: 30%;
    }
    .productdetail__detail .nav-item a{
      font-size: 14px;
    }
    .dashboard-block a{
      width: 47%;
    }
    .dashboard-total-spent{
      margin-top: 0;
    }
    .dashboard .profile .form-group{
      width: 100%;
    }


    .mobile-filter{
      display: block;
    }
    .mobile-hidden{
      display: none;
    }
    .productlist-desc{
      display: block;
      position: relative;
    }
    .productlist-remove{
      position: absolute;
      top: 0;
      right: 0;
    }
    .dashboard-content .card{
      width: 100% !important;
      margin-right: 0;
      margin-top: 10px;
    }
    .dashboard-content .table-responsive{
      margin-bottom: 24px;
    }
  }

@media (max-width: 990px) {
  .dashboard > .container > .wrapper > .row > .col-md-3{
    flex: 0 0 35%;
    max-width: 35%;
  }
  .dashboard > .container > .wrapper > .row > .col-md-9{
    flex: 0 0 65%;
    max-width: 65%;
  }
  .dashboard .bill-address{
    min-height: auto;
  }
}
@media (min-width: 768px) and (max-width: 900px){
  header .top-navbar > .navbar > .container > div > .navbar-nav {
    margin-right: 70px;
  }
  .search-mobile-view > form > input,
  .search-mobile-view > form > button {
    opacity: 0;
  }
}
  
  @media (max-width: 850px) {
    .discount-announcement {
      left: 30%;
    }
    .discount-announcement .btn-secondary {
      margin-left: 48px;
    }
    .discount-announcement a {
      font-size: 14px;
    }
    .dashboard .trackorder .center-circle:before {
      width: 32px;
      left: -68%;
    }
    .dashboard .trackorder .center-circle:after {
      width: 32px;
      left: 118%;
    }
    .productdetail .small-img .icon-right {
      right: 12%;
    }
    .productdetail .small-img .icon-left {
      right: 92%;
    }
    .similar-products .product-addcart {
      top: 44%;
    }
  }
  
  @media (max-width: 767px) {
    .nav-up {
      top: -64px;
    }
    .top-navbar form{
      display: none;
    }
    .search-mobile-view{
      background: #00a8ec;
      form input.formbox{
        height: 40px;
      }
    }
    .menucontainer .navbar-toggler{
      top: -105px;
    }
    .search-mobile-view .form-inline .form-control{
      width: 100%;
    }
    .navbar-nav{
      padding-top: 14px;
    }
    .discount-announcement {
      left: 20%;
    }
    .discount-announcement .btn-secondary {
      margin-left: 18px;
    }
    .section-heading {
      font-size: 24px;
    }
    .age-group {
      padding: 15px 0 20px 0;
    }
    .product-wrapper {
      padding: 20px 0 15px 0;
    }
    .offers,
    .brands {
      padding: 20px 36px;
    }
    .testimonial {
      height: 350px;
    }
    .service .icon-img {
      width: 50px;
    }
    .service {
      padding: 30px 0 10px 0;
    }
    .footer {
      padding: 32px 0;
    }
    .subscribe-column {
      width: 50%;
      margin-top: 30px;
    }
    .cart, .cancel, .order {
      padding: 24px 0;
    }
    .about-bgimage {
      height: 300px;
    }
    .about-objective figure {
      height: 300px;
    }
    .about-content {
      padding: 20px;
    }
    .about-objective {
      padding: 20px;
    }
    .contact__parallaxbg {
      min-height: 300px;
    }
    .contact__container {
      padding: 20px 40px;
    }
    .contact__text {
      margin-top: 30px;
    }
    .blogdetail__content {
      padding: 20px 0;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .blogdetail__sidebar {
      padding: 0;
    }
    .blogdetail__sidebar-item {
      padding-bottom: 0;
      border-bottom: none;
    }
    .faq {
      padding: 20px 0;
    }
    .nav-item {
      width: auto;
      float: left;
    }
    .dashboard .dashboard-content {
      padding-left: 0;
      border-left: none;
      padding-top: 24px;
    }
    .dashboard-sidebar {
      background: none;
      padding: 0;
    }
    .nav-bg {
      background: #eee;
      padding: 15px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
      background: transparent;
    }
    .productdetail__imageblock {
      width: 330px;
      margin: 0 auto;
    }
    .productdetail__detail .nav-item {
      width: 33%;
    }
    .productdetail__cartbtn {
      margin-top: 10px;
    }
    .similar-products .product-addcart {
      top: 60%;
    }
    .review__log {
      margin-top: 10px;
    }
    .shipping {
      padding: 20px 0;
    }
    .product-box{
      width: 45%;
    }
    .footer-block{
      margin-bottom: 20px;
    }
    .offers .bg-image figure{
      width: auto;
    }
    .productdetail__detail .nav-item{
      width: 28% !important;
    }
    .zoom-img{
      margin: 0 auto;
    }
    .item-selected{
      border: none;
      margin-bottom: 30px;
    }
    .dashboard .nav-tabs .nav-item a span{
      display: none;
    }
    .dashboard .nav-tabs .nav-item{
      width: 100%;
    }
    .dashboard > .container > .wrapper > .row > .col-md-3{
      flex: 0 0 10%;
      max-width: 10%;
    }
    .nav-bg{
      padding: 15px 0;
    }
    .dashboard > .container > .wrapper > .row > .col-md-9{
      flex: 0 0 85%;
      max-width: 85%;
    }
    .dashboard-sidebar > ul > .nav-item > a > i{
      font-size: 18px;
    }
    .zoom-img{
      width: 50%;
    }
    .productdetail__container button{
      width: auto;
    }
    .productdetail__socialshare{
      background: transparent;
      margin-top: 30px;
      margin-bottom: 24px;
      p{
        color: #6e6e6f;
      }
      .footer__social li a i{
        color: #007bff;
      }
    }
    .dashboard-sidebar-profile{
      display: none;
    }
    .category .result-sort{
      text-align: left;
      select{
        padding-left: 0;
      }
      .result-list{
        margin-bottom: 15px;
        margin-top: 15px;
        label{
          margin-bottom: 0;
        }
      }
    }
    .category .result-sort .custom-select{
      width: 100%;
    }
    .search-product {
      width: 45%;
    }
    .productlist{
      border: none;
    }
  }
  
@media (max-width: 575px){
  .menucontainer{
    height: 100vh;
    overflow-y: scroll;
  }
  //.menucontainer .navbar{
  //  height: 100vh;
  //  align-items: start;
  //  overflow-y: scroll;
  //}
  .menucontainer .navbar-toggler{
    position: fixed;
    right: 0;
    top: 16px;
  }
  header .top-navbar > .navbar > .container > div > .navbar-nav{
    margin-right: 75px;
  }
  .menucontainer .navbar{
    padding: 0;
  }
  .nav-up {
    top: -64px;
  }
  .menucontainer .navbar .show{
    background: #00a8ec;
    //height: calc(100vh - 108px);
    //align-items: start;
  }

  .banner-item{
    height: 270px;
    overflow: hidden;
  }
  .banner-image img{
      height: 270px;
    }
  .banner-caption article h1{
    font-size: 34px;
  }
  .banner-caption article p{
    font-size: 15px;
  }
    .banner-caption{
      width: 185vw;
      .circle-red{
        right: -30%;
      }
    }
    .discount-announcement {
      left: 5%;
    }
    .offers .bg-image {
      margin-bottom: 15px;
    }
    .offers .more-offers {
      margin-top: 10px;
    }
    .service > .container > .row > div[class*="col-"] {
      width: 50%;
    }
    .service .icons-block {
      margin-bottom: 24px;
    }
    //.footer > .container > .row > .col-lg-8 > .row > div[class*="col-"] {
    //  width: 50%;
    //}
    .footer-list {
      margin-top: 6px;
      margin-bottom: 15px;
    }
    .footer > .container > .row > .col-lg-4 {
      width: 100%;
    }
    .cart {
      width: 100%;
    }
    .cart .btn-primary {
      float: right;
    }
    .product-amount {
      width: 150px;
    }
    .register {
      height: auto;
    }
    .detail-column {
      width: 250px;
    }
    .about-objective figure {
      height: auto;
    }
    .about-objective {
      padding-top: 0;
    }
    .about-content {
      padding-bottom: 0;
    }
    .objective-block {
      margin-top: 15px;
    }
    .contact__container {
      padding: 0 0 20px 0;
    }
    .faq .subscribe-form .btn-primary {
      padding: 12px 10px;
    }
    .dashboard {
      padding: 20px 0;
    }
    .dashboard .bill-address {
      padding: 24px 30px 24px;
    }
    .dashboard .wrapper {
      padding: 0;
    }
    .dashboard .trackorder .track-line {
      margin-top: 18px;
      flex-direction: column;
      align-items: center;
    }
    .dashboard .trackorder .circular-shape {
      margin-bottom: 50px;
    }
    .dashboard .trackorder .center-circle:before {
      display: none;
    }
    .dashboard .trackorder .center-circle:after {
      display: none;
    }
    .productselect > .row > .col-sm-6 {
      width: 50%;
    }
    .category .result-sort {
      text-align: left;
    }
    .category .result-list {
      margin-bottom: 10px;
    }

    .zoom-img{
      width: 40%;
    }
  .productdetail .small-container{
    left: 25px;
  }
    .dashboard .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
      padding: 2px 10px;
    }

  .nav-bg{
    padding-left: 0;
    padding-right: 0;
  }
  .dashboard > .container > .wrapper > .row > .col-md-3{
    flex: 0 0 12%;
    max-width: 12%;
  }
  .footer-fix-mobnav{
    display: block;
  }
  .productdetail .small-container{
    height: 70px;
    bottom: 75px;
  }
  .productdetail__socialshare{
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .item-selected-info figure{
    width: 35%;
    margin-right: 12px;
  }
  .dashboard .profile .form-group{
    width: 100%;
  }

}
  
@media (max-width: 480px) {
  .product-box {
    width: 51%;
    margin: 0 auto;
  }
    .discount-announcement {
      left: 9%;
    }
    .discount-announcement h5 {
      font-size: 12px;
    }
    .discount-announcement .btn-secondary {
      display: none;
    }
    .discount-announcement .btn-secondary {
      margin-left: 8px;
      margin-right: 6px;
    }
    .discount-announcement .btn-close {
      margin-left: 12px;
    }
    .product-info {
      left: 42%;
    }
    .offers {
      padding-left: 0;
      padding-right: 0;
    }
    .offers .text-content h3 {
      font-size: 34px;
      line-height: 20px;
    }
    .offers .text-content span {
      font-size: 22px;
    }
    .testimonial .testimonial-slider {
      padding: 20px 0 10px 0;
    }
    .testimonial .rating {
      margin-top: 4px;
    }
    .testimonial .testimonial-item article p {
      line-height: 8px;
    }
    .footer > .container > .row > .col-lg-8 > .row > div[class*="col-"] {
      width: 100%;
    }
    .subscribe-column {
      margin-top: 0;
    }
    .about-bgimage {
      height: 250px;
    }
    .nav-item {
      width: 100%;
      clear: both;
    }
    .dashboard .bill-address {
      padding: 18px 18px;
    }
    .top-navbar .navbar-expand-lg .navbar-nav .nav-link span {
      display: none;
    }
    .top-navbar .wishlist-notification {
      left: 50%;
    }
    .top-navbar .notification {
      left: 50%;
    }
    .top-navbar .navbar .dropdown-menu {
      min-width: 6rem;
      left: -48px;
    }
    .productdetail .small-img {
      width: auto;
    }
    .productdetail .small-img .icon-right {
      right: 5%;
    }
    .productdetail .small-img .icon-left {
      right: 100%;
    }
    .productdetail__wishlist {
      flex-direction: column;
      align-items: flex-start;
    }
    .productdetail__wishlist a {
      margin: 5px 0;
    }
    .category .result-sort .custom-select {
      width: 100%;
    }
    .filter {
      padding-bottom: 0;
    }
    .result-display {
      padding-top: 0;
    }
    .menu {
      padding: 6px 0;
    }
    .search-wrapper {
      width: 78%;
      height: 38px;
    }
    .search-wrapper input {
      height: 38px;
    }
    .search-wrapper i {
      right: 4px;
    }
    .dashboard-block-box{
      width: 100%;
    }
  .dashboard-lower-block{
    flex-wrap: wrap;
  }
  .dashboard-lower-block-box{
    width: 100%;
    margin-bottom: 30px;
  }
  .productdetail .small-container div{
    flex-flow: row;
  }
  .productdetail__container button{
    width: 100%;
  }
  .productdetail__detail .nav-item{
    width: 100% !important;
  }
  .productdetail__detail .nav-tabs .nav-item.show .nav-link, .productdetail__detail .nav-tabs .nav-link.active{
    background: #00a8ec;
    color: #fff;
    padding-left: 8px;
    border-bottom: none;
  }
  .productdetail__detail .nav-tabs .nav-item{
    background: #00a8ec47;
    margin-bottom: 3px;
  }
  .nav-tabs .nav-link{
    border: none;
  }
  .productdetail__detail ul{
    border-bottom: none;
  }
  .productdetail__detail .nav-item a{
    padding-left: 8px;
  }
  .item-selected-info figure{
    width: 40%;
  }
  .dashboard-block a{
    width: 100%;
  }

 }
@media (max-width: 420px){
  .product-box{
    width: 60%;
  }
  .dashboard .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    padding: 2px 8px;
  }
}

@media (max-width: 380px) {
    .discount-announcement a {
      font-size: 12px;
    }
    .discount-announcement {
      left: 6%;
    }
    .service > .container > .row > div[class*="col-"] {
      width: 100%;
    }
  //.productdetail__detail .nav-item {
  //  width: 100% !important;
  //}
  .productdetail__detail .nav-item a{
    font-size: 14px;
  }
}
  
  @media (max-width: 350px) {
    .testimonial {
      height: 360px;
    }
    .search-wrapper {
      margin-left: 8px;
      width: 75%;
    }
  }
  
  @media (max-width: 320px) {
    .search-wrapper {
      margin-left: 8px;
      width: 75%;
    }
  }
