<template>
       <button :class="'btn btn-white '+status " @click="addToCart(itemId)"> Add To Cart </button>
</template>

<script>
    export default {

        props : ['id','stock'],

        data: function() {
            return {
                itemId : this.id,
                status : this.stock,
            };
        },

        created : function(){
        },

        methods : {
             emitEvent : function (status){
                // console.log('emit event')
                this.$root.$emit('cartEvent', status);
            },

            addToCart : function(itemId){
                console.log('add to cart : '+itemId);
                var self = this;
                var url = "/api/checkout/cart/add/"+itemId;
                axios.post(url,{"product" : itemId , "quantity": "1", "is_configurable" : "false"})
                .then(function (response) {
                    Swal.fire({
                        position: 'center',
                        type: 'success',
                        title: 'Item added to cart',
                        showConfirmButton: false,
                        timer: 1500
                        })
                    console.log('item added to cart');
                    var status="add-to-cart"
                    self.emitEvent(status);
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
        }
         
    }
</script>