<template>
        <ul>
            <category-item
                v-for="(item, index) in items"
                :key="index"
                :url="url"
                :item="item"
                :parent="index">
            </category-item>
        </ul>
</template>

<script>
    export default {
          props: {
            categories: {
                type: [Array, String, Object],
                required: false,
                default: (function () {
                    return [];
                })
            },

            url: String
        },

        data: function(){
            return {
                items_count:0
            };
        },

        computed: {
            items: function() {
                // console.log(JSON.parse(this.categories));
                return JSON.parse(this.categories)
            }
        },
    }
</script>
