<template>
  <div>
    <div v-if="showAutoComplete == 'true'">
      <h2>Search and add a pin</h2>
      <label>
        <gmap-autocomplete
          @place_changed="addMarker">
        </gmap-autocomplete>
        <!-- <button @click="addMarker">Add</button> -->
      </label>
      <br/>

    </div>
    <br>
      <gmap-map
        ref = "map"
        :center="center"
        :zoom="15"
        :style="customStyle"
        @click="clicked"
      >
      <gmap-info-window 
          :options="infoOptions" 
          :position="infoWindowPos" 
          :opened="infoWinOpen" 
          @closeclick="infoWinOpen=false">
      </gmap-info-window>

        <gmap-marker
          :key="index"
          v-for="(m, index) in markers"
          :position="m.position"
          :clickable = "true"
          @click="toggleInfoWindow(m,index)"
        ></gmap-marker>
      </gmap-map>       
  </div>
</template>

<script>
export default {
  name: "GoogleMap",

  props: ['addressId', 'customStyle','showAutoComplete'],
  
  data() {
    return {
      // default to satadobato
      center: { lat: 27.6587390, lng: 85.3247000},
      markers: [],
      places: [],
      currentPlace: null,
      location : null,
      infoWindowPos: null,
          infoWinOpen: false,
          currentMidx: null,

          infoOptions: {
        	content: '',
            //optional: offset infowindow so it visually sits nicely on top of our marker
            pixelOffset: {
              width: 0,
              height: -35
            }
          },
        locationAddress : null,
    };
  },

  mounted() {
    if(this.addressId != "notSet"){
      this.getAddressInfo();
    }
    this.$root.$on("addressSelected",(selectedAddress) => {
      this.addressId = selectedAddress;
      this.getAddressInfo();
    })
  },

  methods: {
    getAddressInfo : function(){
        var url = '/api/addresses/'+this.addressId;
        var self = this;
        axios.get(url)
        .then(response =>{
            var data = response.data.data;
             self.center = {
                lat: parseFloat(data.lat),
                lng: parseFloat(data.lng),
                };
            var addressInfo = data.address1[0]+', '+data.city+', '+data.state;
            var location = new Object({position : self.center, infoText : addressInfo});
            self.markers.push(location);
              //toggle info window
            self.infoWindowPos = location.position;
            self.infoOptions.content = location.infoText;
            self.infoWinOpen = true;
        })
        .catch(error=>{
            console.log(error);
        })
    },
    addMarker(place) {
      this.currentPlace = place;
      if (this.currentPlace) {
        var locationInfo = this.currentPlace.formatted_address;

        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };

        this.getGeoLocation(marker);

        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        this.getGeoLocation(this.center);

      });      
    },
    toggleInfoWindow : function (marker,idx){
        this.infoWindowPos = marker.position;
            this.infoOptions.content = marker.infoText;
            // this.infoOptions.content = "location";

            //check if its the same marker that was selected if yes toggle
            if (this.currentMidx == idx) {
              this.infoWinOpen = !this.infoWinOpen;
            }
            //if different marker set infowindow to open and reset current marker index
            else {
              this.infoWinOpen = true;
              this.currentMidx = idx;

            }
    },
    getGeoLocation :function(marker){
      var self = this;

      axios.get('/api/decode/geo-location',{params : marker} )
        .then(response =>{
            self.locationAddress = response.data.results[0].formatted_address;
            var location = new Object({position : marker, infoText : self.locationAddress});

            self.markers = [];
            self.markers.push(location);
            self.center = marker;
            //toggle info window
            self.infoWindowPos = location.position;
            self.infoOptions.content = location.infoText;
            self.infoWinOpen = true;

            var newAddress = response.data.results[0];

            self.$root.$emit('addressChanged',newAddress,location);
        })
        .catch(error =>{
            console.log(error);
        })
    },
    clicked (e){
        const marker = {
          lat: e.latLng.lat(),
          lng: e.latLng.lng()
        };
        this.getGeoLocation(marker);

      }
    },
};
</script>