<template>
<div class="container">
    <h3 class="section-heading" v-if="sectionType === 'new-products'">New Products</h3>
    <h3 class="section-heading" v-else-if="sectionType === 'featured-products'">Featured Products</h3>
    <h3 class="section-heading" v-else-if="sectionType === 'high-selling-products'">High Selling Products</h3>

    <span style="position:relative;left: 45%;"><beat-loader :loading="Loading" :color="loaderColor" :size="loaderSize" :key="sectionType" :margin="loaderMargin"></beat-loader></span>

    <div class="product-slider row">
        <div class="product-box"  v-for="(productFlat,index) in products" :key="index">
        <product-box :productFlat="productFlat" :authUser="authUser" :key="index"></product-box>
        </div>
    </div>
    <div class="pagination-block text-center" v-if="meta.last_page != 1">
        <div class="container">

            <nav aria-label="...">
                <!-- <ul class="pagination">

                    <li :class="links.prev == null ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" href="javascript:void(0);" tabindex="-1" @click="paginate(links.prev)" rel="prev">Prev</a>
                    </li>

                        <span v-for="(n,index) in pages" :key="index">
                            <li v-if="meta.current_page == n" class="page-item active"><a class="page-link" href="javascript:void(0);">{{ n }}</a></li>
                            <li v-else class="page-item"><a class="page-link" href="javascript:void(0);" @click="paginateNumber(n)">{{ n }}</a></li>
                    </span>

                    <li :class="links.next == null ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" href="javascript:void(0);" @click="paginate(links.next)">Next</a>
                    </li>

                </ul> -->
                 <ul class="pagination">

                    <!-- prev button -->
                    <li :class="links.prev == null ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" href="javascript:void(0);" tabindex="-1" @click="paginate(links.prev)" rel="prev">Prev</a>
                    </li>

                    <!-- first page button -->
                    <li v-if="meta.current_page == 1" class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                    <li v-else class="page-item"><a class="page-link" href="javascript:void(0);" @click="paginateNumber(1)">1</a></li>

                    <!-- first ... -->
                    <li v-if="meta.current_page != 1 && meta.current_page - 2 > 1">...</li>

                    <!-- Pagination Elements -->
                    <li v-if="meta.current_page - 2 > 1" class="page-item"><a class="page-link" href="javascript:void(0);" @click="paginateNumber(meta.current_page - 2)">{{ meta.current_page - 2 }}</a></li>
                    <li v-if="meta.current_page - 1 > 1" class="page-item"><a class="page-link" href="javascript:void(0);" @click="paginateNumber(meta.current_page - 1)">{{ meta.current_page - 1 }}</a></li>

                    <li v-if="meta.current_page != 1 && meta.current_page != meta.last_page " class="page-item active"><a class="page-link" href="javascript:void(0);">{{ meta.current_page }}</a></li>

                    <li v-if="meta.current_page + 1 < meta.last_page" class="page-item"><a class="page-link" href="javascript:void(0);" @click="paginateNumber(meta.current_page + 1)">{{ meta.current_page + 1 }}</a></li>
                    <li v-if="meta.current_page + 2 < meta.last_page" class="page-item"><a class="page-link" href="javascript:void(0);" @click="paginateNumber(meta.current_page + 2)">{{ meta.current_page + 2 }}</a></li>

                    <!-- end ... -->
                    <li v-if="meta.current_page != meta.last_page && meta.current_page + 2 < meta.last_page ">...</li>

                    <!-- last page button -->
                    <li v-if="meta.current_page == meta.last_page" class="page-item active"><a class="page-link" href="javascript:void(0);">{{meta.last_page}}</a></li>
                    <li v-else class="page-item"><a class="page-link" href="javascript:void(0);" @click="paginateNumber(meta.last_page)">{{meta.last_page}}</a></li>

                    <!-- next button -->
                    <li :class="links.next == null ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" href="javascript:void(0);" @click="paginate(links.next)">Next</a>
                    </li>

                </ul>
            </nav>

        </div>
    </div>
</div>
</template>

<script>
    export default {
         props : ['auth-user','sectionType'],

    data: function() {
        return {
            products : [] ,
            links : [],
            meta : [],
            pages : null,
            Loading : false,
            loaderSize : '25px',
            loaderMargin : '4px',
            loaderColor : '#E3007B'
        }
    },

    created : function(){
        if(this.sectionType == 'new-products'){
            this.Loading = true;
            this.getNewProducts();
        }else if(this.sectionType == 'featured-products'){
            this.Loading = true;
            this.getFeaturedProducts();
        }else if(this.sectionType == 'high-selling-products'){
            this.Loading = true;
            this.getHighSellingProducts();
        }
    },


    methods : {
        getFeaturedProducts : function(){
            var this_this = this;

            axios.get('/api/products?featured=1&sort=created_at&order=desc&limit=5&page=1')
                .then(function (response) {

                    this_this.Loading = false;
                    this_this.products = response.data.data;
                    this_this.links = response.data.links;
                    this_this.meta = response.data.meta;
                    this_this.pages = parseInt(response.data.meta.last_page);
                })
                .catch(function (error){

                    console.log(error);
            })
        },
        getNewProducts : function(){
            var this_this = this;

            axios.get('/api/products?new=1&sort=created_at&order=desc&limit=5&page=1')
                .then(function (response) {

                    this_this.Loading = false;
                    this_this.products = response.data.data;
                    this_this.links = response.data.links;
                    this_this.meta = response.data.meta;
                    this_this.pages = parseInt(response.data.meta.last_page);
                })
                .catch(function (error){

                    console.log(error);
                })
        },
        getHighSellingProducts : function(){
            var this_this = this;

            axios.get('/api/products?topSelling&limit=5&page=1')
                .then(function (response) {

                    this_this.Loading = false,
                    this_this.products = response.data.data;
                    this_this.links = response.data.links;
                    this_this.meta = response.data.meta;
                    this_this.pages = parseInt(response.data.meta.last_page);
                })
                .catch(function (error){

                    console.log(error);
                })
        },
        paginate : function(link){
            var this_this = this;

            if(this.sectionType == 'new-products'){
                // window.scrollTo(0, 1350);
                window.scrollTo({
                    top: 1350,
                    behavior: 'smooth'
                    });
            }else if(this.sectionType == 'featured-products'){
                // window.scrollTo(0, 1840);
                 window.scrollTo({
                    top: 1840,
                    behavior: 'smooth'
                    });
            }else if(this.sectionType == 'high-selling-products'){
                //  window.scrollTo(0, 500);
                  window.scrollTo({
                    top: 500,
                    behavior: 'smooth'
                    });
            }

            this.products = [];
            this.Loading = true;
            axios
            .get(link)
            .then(function (response) {

                this_this.products = response.data.data;
                this_this.links = response.data.links;
                this_this.meta = response.data.meta;
                this_this.pages = parseInt(response.data.meta.last_page);
                this_this.Loading = false;
            })
            .catch(function (error) {
                console.log(error);
            })
        },
        paginateNumber : function(n){

            var link = this.links.first;
            var newLink = link.replace("page=1", "page="+n);
            this.paginate(newLink);
        }
    }

    }
</script>