<template>
<div class="product">
    <div v-if="productFlat.new == 1" href="#" class="circle-shape">
        <p> New </p>
    </div>
    
    <a v-if="productFlat.special_price" class="circle-shape">
            <p> {{discount}}% <br> <span>Off</span></p>
    </a>

    <!--wishlist start-->

     <div class="product-wishlist" v-if="authUser">
        <wishlist-add-button :id="productFlat.id"></wishlist-add-button>
    </div>
    
    <div class="product-wishlist" v-else>
        <wishlist-login-register></wishlist-login-register>
    </div>

    <!--wishlist end-->

    <figure class="product-image">
    <a :href="productLink" data-toggle="tooltip" data-placement="top" :title="productFlat.name">
            <v-lazy-image :src="productFlat.base_image.medium_image_url" :src-placeholder="productFlat.base_image.small_image_url" class="img-fluid" :alt="productFlat.name" style="padding:15%;"/>
            </a>
    </figure>
    <a :href="productLink" data-toggle="tooltip" data-placement="top" :title="productFlat.name" class="product-ellipseshape">
        <div class="product-info">
            
            <h5>{{ productFlat.name }}</h5>

            <!--price start-->
            <span v-if="productFlat.type == 'configurable'">
                <!-- <span>As low as</span><br> -->
        
                <strong>Rs. {{ minimumPrice }}.00</strong>
            </span>

            <span v-else>

                <span v-if="productFlat.special_price">

                    <strong>{{ productFlat.formated_special_price }}</strong>
                    <br>
                    <strike style="font-size:12px;">{{ productFlat.formated_price }}</strike>
                    
                </span>
    
                <span v-else>
                    <strong>{{ productFlat.formated_price }}</strong>
                </span>
            </span>
                <!--price end-->

            <p v-if="!(productFlat.in_stock == 'true' || productFlat.in_stock == '1')">out of stock</p>

            
               <div class="rating-star display-none">
                    <i class="fa fa-star checked" aria-hidden="true" v-for="index in averageRating" :key="'checked'+index"></i>
                 
                    <i class="fa fa-star" aria-hidden="true" v-for="index in 5-averageRating" :key="'unchecked'+index" ></i>
                   
                    <span class="bestseller__rater">({{totalRating}} reviews)</span>
                </div>
 
        </div>
    </a>
</div> 
</template>

<script>
    export default {

        props : ['productFlat', 'authUser'],

        data: function() {
            return {
               
                discount : null,
                minimumPrice : null,
                productLink : 'product link',
                route :  route('memy.products.vue.gallery'),
                averageRating : Math.round(this.productFlat.reviews.average_rating),
                totalRating : this.productFlat.reviews.total
            };
        },

         mounted : function(){
            this.productLink = this.route +'/'+ this.productFlat.url_key;``
        },

        created :function(){
            if(this.productFlat.special_price)
                this.calculateDiscount(this.productFlat);
            
            if(this.productFlat.type == 'configurable')
                this.calculateMinimumPrice(this.productFlat);  

            this.checkNewProduct(this.productFlat.created_at);

             Vue.nextTick(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

        },

        methods : {
            calculateDiscount : function(product){
                var discount = (((parseInt(product.price)-parseInt(product.special_price))/parseInt(product.price))*100).toFixed(2);
                this.discount = discount;
            },

            calculateMinimumPrice : function(product){
                var self = this;
                self.minimumPrice = parseInt(product.price);
                product.variants.forEach(element => {
                    if(parseInt(element.price) <= self.minimumPrice )
                        self.minimumPrice=parseInt(element.price);
                });
            },

            checkNewProduct : function(createdAtDate){
                // console.log(Date.parse(createdAtDate));
                var today =  Date.parse(new Date());
                var d = Date.parse(createdAtDate);
                var minutes = 1000 * 60;
                var hours = minutes * 60;
                var days = hours * 24;
                var years = days * 365;

                if(Math.round(today / days) - Math.round(d / days) <= 30)
                {
                    this.productFlat.new = 1;

                }
            }
        }
    }
</script>