<template>
<div>
    <article class="register__textcontent">
        <p>No account yet? <a href="javascript:void(0)" @click="$modal.show('register-modal')">Create it now</a></p>
    </article>
    <vue-modal height="auto" name='register-modal' :scrollable="true">
        <div class="register__block">
            <button @click="$modal.hide('register-modal')" style="border: none; background-color: transparent;  position: absolute; top:5px; right: 5px; filter: brightness(0);">
            ❌
            </button>
            <h5 class="register--heading">Welcome to Memykids</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label required" for="fname">Full Name</label>
                            <input type="text" class="form-control form-box" name="first_name" v-model="first_name" placeholder="Full Name" v-validate="'required'" data-vv-as="&quot;'Full Name'&quot;">
                            <span class="control-error" v-if="errors.has('first_name')">{{errors.first('first_name')}}</span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label required" for="email">Email</label>
                            <input type="email" class="form-control form-box" name="email" v-model="email" placeholder="email@example.com" v-validate="'required|email'" data-vv-as="&quot;'Email'&quot;" v-on:keyup.enter="checkEmail(email)"  @blur="checkEmail(email)">
                            <span class="control-error" v-if="errors.has('email')">{{errors.first('email')}}</span>
                            <span class="control-error" v-if="emailExists">Email already exists</span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="form-label" for="password">Password</label>
                            <input type="password" class="form-control form-box" name="password" v-model="password" placeholder="******" v-validate="'required|min:6'" ref="password"  data-vv-as="&quot;'Password'&quot;">
                            <span class="control-error" v-if="errors.has('password')">{{errors.first('password')}}</span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="cpassword">Confirm Password</label>
                            <input type="password" class="form-control form-box" name="password_confirmation" v-model="password_confirmation" placeholder="******"  v-validate="'required|min:6|confirmed:password'" data-vv-as="&quot;'Confirm Password'&quot;">
                            <span class="control-error" v-if="errors.has('password_confirmation')">{{errors.first('password_confirmation')}}</span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label" for="mobile_number">Mobile Number</label>
                            <input type="text" class="form-control form-box" name="mobile_number" v-model="mobile_number" placeholder="98XXXXXXXX"  v-validate="'required|min:10|max:10'" data-vv-as="&quot;'Mobile Number'&quot;" v-on:keyup="checkMobileNumber(mobile_number)">
                            <span class="control-error" v-if="errors.has('mobile_number')">{{errors.first('mobile_number')}}</span>
                            <span class="control-error" v-if="mobileNumberExists">Mobile number already registred</span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                        </div>
                    </div>

                    <div class="col-md-12" v-if="confirmationStep">
                        <span>Confirmation code has been sent to your phone and email</span>
                        <div class="form-group">
                            <label class="form-label" for="ccode">Confirmation Code</label>
                            <input type="text" name="ccode" class="form-control form-box" v-model="confirmation_code" v-validate="'required|numeric|min:6|max:6'" data-vv-as="&quot;'Confirmation Code'&quot;">
                            <span class="control-error" v-if="errors.has('ccode')">{{errors.first('ccode')}}</span>
                        </div>
                    </div>

                </div>
                <button v-if="!confirmationStep" @click='submit()' class="btn btn-primary">Sign Up</button>
                <button v-if="confirmationStep" @click='confirm()' class="btn btn-primary">Confirm</button>
        </div>
    </vue-modal>
    <vue-modal name="loader-modal" classes="loader-modal" :clickToClose="false" :height="30" :width="30">
        <div class="text-center">
            <beat-loader :loading="true" color="#E3007B" size="25px"></beat-loader>
        </div>
    </vue-modal>
</div>
      
</template>

<script>
    export default {
       
        data: function(){
            return {
              first_name : '',
              email : '',
              password : '',
              password_confirmation : '',
              mobile_number : '',
              confirmation_code : '',
              confirmationStep : false,
              emailExists : false,
              mobileNumberExists : false
            };
        },

        methods: {
           submit : function (){
            //    console.log('submit method called');
               var self = this;
               this.$Progress.start();
               this.$modal.show('loader-modal');
                axios.post('/api/customer/register',{
                    email: self.email,
                    first_name: self.first_name,
                    last_name: "####",
                    password: self.password,
                    password_confirmation: self.password_confirmation,
                    mobile_number : self.mobile_number
                })
                .then(function (response) {
                    // handle success
                    // console.log(response.data);
                    // console.log('customer registered');
                    if(response.data.status == 'mobile_send_fail'){
                        Swal.fire({
                        position: 'center',
                        type: 'info',
                        title: 'Confirmation code sent to email but failed to send to mobile',
                        showConfirmButton: false,
                        timer: 2500
                        })
                    }
                    else{
                     Swal.fire({
                        position: 'center',
                        type: 'success',
                        title: 'Confirmation code sent',
                        showConfirmButton: false,
                        timer: 1500
                        })
                    }
                    self.confirmationStep = true;
                    self.$Progress.finish();
                    self.$modal.hide('loader-modal');
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                    self.$Progress.fail();
                    self.$modal.hide('loader-modal');
                })
           },

           confirm : function(){
            //    console.log('confirmation called');
            //    console.log(route('customer.verify-by-code',this.confirmation_code));
            //    window.location = route('customer.verify-by-code',this.confirmation_code);
                self=this;
               this.$modal.show('loader-modal');
                axios.get('/api/customer/verify/'+this.confirmation_code)
                .then(function(response){
                    // console.log(response.data);
                      Swal.fire({
                        position: 'center',
                        type: 'success',
                        title: 'Account Confirmed. Logging In.',
                        showConfirmButton: false,
                        timer: 1500
                        })
                        self.login();
                    self.$modal.hide('loader-modal');
                    self.$modal.hide('register-modal');
                    
                })
                .catch(function(error){
                    console.log(error);
                    self.$modal.hide('loader-modal');
                })
           },

           login: function(){
               var self = this;
               var params = {
                email: this.email,
                password: this.password
                }
                axios.post('/api/customer/login', params)
                    .then((response)=>{
                        self.$modal.hide('login-modal');
                        window.location.reload();
                    })
                    .catch((error) => console.log(error))
           },

           checkEmail : function(email){
            //    console.log('check email '+email);
               self=this;
                axios.get('/api/customer/check-email/'+email)
                .then(function(response){
                    // console.log(response.data);
                        self.emailExists = response.data.status;
                })
                .catch(function(error){
                    console.log(error);
                })
           },

           checkMobileNumber : function(mobile_number){
                self=this;
                if(mobile_number.length === 10){
                    axios.get('/api/customer/check-mobile-number/'+mobile_number)
                    .then(function(response){
                        // console.log(response.data);
                            self.mobileNumberExists = response.data.status;
                    })
                    .catch(function(error){
                        console.log(error);
                    })
                }else{
                    self.mobileNumberExists =false;
                }
           }
        },
    }
</script>
