<template>
    <vue-modal name='rma-form' height="auto" :scrollable="true" @before-open="beforeOpen">
        <div class="register__block">
            <button @click="$modal.hide('rma-form')" style="border: none; background-color: transparent;  position: absolute; top:5px; right: 5px; filter: brightness(0);">
                ❌
            </button>
            <h5 class="register--heading">RMA Form</h5>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label required" for="reason">Reason</label>
                        <input type="text" class="form-control form-box" name="reason" v-model="reason"  v-validate="'required'" data-vv-as="&quot;'Reason'&quot;">
                        <span class="control-error" v-if="errors.has('reason')">{{errors.first('reason')}}</span>
                    </div>
                </div>

                 <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label required" for="quantity">Quantity</label>
                        <input type="text" class="form-control form-box" name="quantity" v-model="quantity"  v-validate="'required|numeric'" data-vv-as="&quot;'Quantity'&quot;" @keyup="checkAvailableQty(quantity)">
                        <span class="control-error" v-if="errors.has('quantity')">{{errors.first('quantity')}}</span>
                        <span class="control-error" v-if="itemQtyLimitExceded">Quantity exceded</span>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label required" for="remarks">Remarks</label>
                        <textarea class="form-control form-box" name="remarks" v-model="remarks" v-validate="'required'" data-vv-as="&quot;'Remarks'&quot;"></textarea>
                        <span class="control-error" v-if="errors.has('remarks')">{{errors.first('remarks')}}</span>    
                    </div>
                </div>

            </div>
            <button @click='submitRmaForm()' class="btn btn-primary" :disabled="itemQtyLimitExceded">Submit</button>
        </div>

    </vue-modal>
</template>
<script>
export default {
  name: 'RmaForm',
  data () {
    return {
        reason : '',
        remarks : '',
        quantity : '',
        order_id : '',
        product_id : '',
        policy_id : '',
        order_item_id : '',
        customer_id : '',
        itemsAvailableForRefund :'',
        itemQtyLimitExceded : false
    }
  },
  methods: {
    beforeOpen (event) {
        this.order_id = event.params.order_id;  
        this.product_id = event.params.product_id;
        this.policy_id = event.params.policy_id;
        this.order_item_id = event.params.order_item_id;
        this.customer_id = event.params.customer_id;
        this.itemsAvailableForRefund =  event.params.itemsAvailableForRefund;
        // console.log("order id : " +this.order_id);
        // console.log("product id : " +this.product_id);
        // console.log("policy id : " +this.policy_id);
        // console.log("order_item id : "+this.order_item_id);
        // console.log("customer id : "+this.customer_id);
    },
    beforeClose (event) {
    //   console.log(event);
    },

    submitRmaForm : function (){
        var self = this;
        var data ={
            customer_id:this.customer_id,
            order_id:this.order_id,
            product_id:this.product_id,
            order_item_id:this.order_item_id,
            quantity:this.quantity,
            policy_id:this.policy_id,
            reason:this.reason,
            remarks:this.remarks
        }
        axios.post('/api/rma/submit', data)
            .then(function (response) {
                // handle success
                self.$modal.hide('rma-form');
                // Swal.fire({
                //     position: 'center',
                //     type: 'success',
                //     title: response.data.message,
                //     showConfirmButton: false,
                //     timer: 1500
                //     })
                location.reload();
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
    },

    checkAvailableQty(qty){
        if(qty > this.itemsAvailableForRefund){
            this.itemQtyLimitExceded = true;
        }else{
            this.itemQtyLimitExceded = false;
        }
    }

  }
}
</script>