<template>
    <vue-modal name='rma-modal' height="auto" :scrollable="true" @before-open="beforeOpen">
        <button @click="$modal.hide('rma-modal')" style="border: none; background-color: transparent;  position: absolute; top:5px; right: 5px; filter: brightness(0);">
            ❌
        </button>
        <div class="register__block">
            <h5 class="register--heading">Available Returns</h5>
            <!-- {{product_id}} -->
            <!-- has slight delay befor policy loaded(if has policy other than 0 days) -->
            <article v-if="hasValidPolices"> 
                <div v-if="itemsAvailableForRefund > 0">
                    <!-- if has refunded items -->
                    <div v-if="qty.qty_refunded > 0 ">
                        {{qty.qty_refunded}} item has been refunded
                        <hr>
                    </div>
                    <div v-if="qty.qty_return_request > 0 ">
                        {{qty.qty_return_request}} item has been requested for returns.
                        <hr>
                    </div>
                    <!-- start return policy -->
                    <div v-if="return_policy.validity != 0">
                        <div v-if="return_policy_validity != null "> 
                            <h6 style="border-bottom-width: 1px;border-bottom-style: solid;">Return Policy</h6>
                            <span>Validity : {{return_policy.validity}}&nbsp;days&nbsp;({{return_policy_validity}}&nbsp;days left)</span>
                            <p>{{return_policy.remarks}}</p>
                            <span class="btn btn-outline" @click="openRmaForm(return_policy.id)">Return Product</span>
                            <hr>
                        </div>
                    
                        <div v-else> 
                            <h6 style="border-bottom-width: 1px;border-bottom-style: solid;">Return Policy</h6>
                            <span>Validity : {{return_policy.validity}}&nbsp;days&nbsp;(Policity Validity has Expired.)</span>
                            <p>{{return_policy.remarks}}</p>
                            <hr>
                        </div>
                    </div>
                    <!-- end return policy -->

                    <!-- start warranty policy -->
                    <div v-if="warranty_policy.validity != 0">
                        <div v-if="warranty_policy_validity != null "> 
                            <h6 style="border-bottom-width: 1px;border-bottom-style: solid;">Warranty Policy</h6>
                            <span>Validity : {{warranty_policy.validity}}&nbsp;days&nbsp;({{warranty_policy_validity}}&nbsp;days left)</span>
                            <p>{{warranty_policy.remarks}}</p>
                            <span class="btn btn-outline" @click="openRmaForm(warranty_policy.id)">Claim Warranty</span>
                            <hr>
                        </div>

                        <div v-else> 
                            <h6 style="border-bottom-width: 1px;border-bottom-style: solid;">Warranty Policy</h6>
                            <span>Validity : {{warranty_policy.validity}}&nbsp;days&nbsp;(Policity Validity has Expired.)</span>
                            <p>{{warranty_policy.remarks}}</p>
                            <hr>
                        </div>
                    </div>
                    <!-- end warranty policy -->

                    <!-- start exchange policy -->
                    <div v-if="exchange_policy.validity != 0">
                        <div v-if="exchange_policy_validity != null "> 
                            <h6 style="border-bottom-width: 1px;border-bottom-style: solid;">Exchange Policy</h6>
                            <span>Validity : {{exchange_policy.validity}}&nbsp;days&nbsp;({{exchange_policy_validity}}&nbsp;days left)</span>
                            <p>{{exchange_policy.remarks}}</p>
                            <span class="btn btn-outline" @click="openRmaForm(exchange_policy.id)">Exchange Product</span>
                            <hr>
                        </div>

                        <div v-else> 
                            <h6 style="border-bottom-width: 1px;border-bottom-style: solid;">Exchange Policy</h6>
                            <span>Validity : {{exchange_policy.validity}}&nbsp;days&nbsp;(Policity Validity has Expired.)</span>
                            <p>{{exchange_policy.remarks}}</p>
                            <hr>
                        </div>
                    </div>
                    <!-- end exchange policy -->
                </div>
                <div v-else-if="qty.qty_refunded - (qty.qty_return_request + qty.qty_denied_request) != 0">
                    <span v-if="qty.qty_refunded > 0">{{qty.qty_refunded}} item has been refunded.<hr></span>
                    <span v-if="qty.qty_return_request > 0">{{qty.qty_return_request}} item has been requested for returns.<hr></span>
                    <span v-if="qty.qty_denied_request > 0">{{qty.qty_denied_request}} item return has been denied.<hr></span>
                </div>
                <div v-else>
                    Item has already been refunded.<br>
                </div>
            </article>
            <article v-else-if="loadingPolicies">
                Loading ...
            </article>
            <article v-else>
                No Return policy available for this product.
            </article>
        </div>
    </vue-modal>
</template>
<script>
export default {
  name: 'RmaModal',

  data () {
    return {
        product_id : '',
        delivered_at : '',
        order_id : '',
        customer_id : '',
        qty : '',
        itemsAvailableForRefund : '',
        return_policy: [],
        warranty_policy: [],
        exchange_policy: [],
        hasValidPolices : false,
        return_policy_validity : null,
        warranty_policy_validity : null,
        exchange_policy_validity : null,
        loadingPolicies : true
    }
  },
  methods: {
    beforeOpen (event) {
        this.product_id = event.params.id;  
        this.delivered_at = event.params.delivered_at;
        this.order_item_id = event.params.order_item_id;
        this.order_id = event.params.order_id;
        this.customer_id = event.params.customer_id;
        this.qty = event.params.qty;
        this.getProductPolices(this.product_id); 
        this.checkReturnStatus();
    },
    beforeClose (event) {
    //   console.log(event);
    },
    checkReturnStatus : function(){
        this.itemsAvailableForRefund = this.qty.qty_shipped - (this.qty.qty_return_request + this.qty.qty_refunded + this.qty.qty_denied_request);
    },
    getProductPolices :function(product_id){
        var self = this;
        this.loadingPolicies = true;
        this.hasValidPolices = false;
        axios.get('/api/product-policies/'+product_id)
        .then(function (response) {
            // handle success
            // console.log(response.data);
            self.return_policy = response.data.return_policy;
            self.warranty_policy = response.data.warranty_policy;
            self.exchange_policy = response.data.exchange_policy;
            self.hasValidPolices =  response.data.hasValidPolices;
            //calculate product validity
            self.calculateProductPolicyValidity();
        })
        .catch(function (error) {
            // handle error
            console.log(error);
        })
    },
    calculateProductPolicyValidity : function(){
        var today =  Date.parse(new Date());
        // var today =  Date.parse('2019-12-26 10:26:37');
        var d = Date.parse(this.delivered_at);
        var minutes = 1000 * 60;
        var hours = minutes * 60;
        var days = hours * 24;
        var years = days * 365;

        var itemDeliveredDays = Math.round(today / days) - Math.round(d / days);

        this.return_policy_validity = null;
        this.warranty_policy_validity = null;
        this.exchange_policy_validity = null;

        if(itemDeliveredDays <= this.return_policy.validity){
            this.return_policy_validity = this.return_policy.validity - itemDeliveredDays;
        }
         if(itemDeliveredDays <= this.warranty_policy.validity){
            this.warranty_policy_validity = this.warranty_policy.validity - itemDeliveredDays;
        }
         if(itemDeliveredDays <= this.exchange_policy.validity){
         
            this.exchange_policy_validity = this.exchange_policy.validity - itemDeliveredDays;
        }
        this.loadingPolicies = false;
    },
    openRmaForm : function(policy_id){
        this.$modal.hide('rma-modal');
        this.$modal.show('rma-form',{itemsAvailableForRefund :this.itemsAvailableForRefund, order_id : this.order_id, product_id : this.product_id, policy_id : policy_id, order_item_id : this.order_item_id, customer_id : this.customer_id});
    }


  }
}
</script>