<template>
 <div class="tab-pane" id="returns">
    <strong><span>
            Delivered At : 
    </span></strong>&nbsp;&nbsp;
    <span class="value">
        {{order.updated_at | dateOnly}}
    </span>

    <h5><span>Products Delivered</span></h5>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Grand Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,index) in items" :key="index">
                <td data-value="sku">
                    <!-- {{ $item->type == 'configurable' ? $item->child->sku : $item->sku }} -->
                        {{item.type == 'configurable' ? item.child.sku : item.sku}}  
                </td>
                <td data-value="name">{{item.name}}</td>
                <td data-value="price">{{item.price | currency}}</td>
                <td data-value="qty">{{item.qty_shipped}}</td>
                <!-- //Add tax here when tax calcs -->
                <td data-value="grand_total">{{ item.total  | currency}}</td>
                <td><a href="javascript:void(0)" @click="openRmaModal(item)">Request Return</a></td>
            </tr>
        </tbody>
    </table>
</div>
</template>

<script>
    export default {

        props : ['order'],

        data: function() {
            return {
               items : this.order.items,
            };
        },

        methods : {
            openRmaModal : function(item){
                var qty = {
                    qty_shipped : item.qty_shipped,
                    qty_return_request: item.qty_return_request,
                    qty_refunded: item.qty_refunded,
                    qty_denied_request: item.qty_denied_request
                }
                this.$modal.show('rma-modal', { id: item.product_id , delivered_at : this.order.updated_at, order_item_id : item.id , order_id : this.order.id, customer_id : this.order.customer_id, qty : qty})
                //  console.log(product_id);
            }
        },

        filters: {
            currency: function (value) {
                if (!value) return ''
                return 'Rs. '+parseInt(value)+'.00';
            },

            dateOnly: function (value) {
                var date = value.substr(0,value.indexOf(' '));
                var splitDate = date.split("-"); 
                // switch case start
                switch(splitDate[1]){
                    case '12':
                        var month = 'Dec';
                        break;
                    case '11':
                        var month = 'Nov';
                        break;
                    case '10':
                        var month = 'Oct';
                        break;
                    case '9':
                        var month = 'Sep';
                        break;
                    case '8':
                        var month = 'Aug';
                        break;
                    case '7':
                        var month = 'July';
                        break;
                    case '6':
                        var month = 'June';
                        break;
                    case '5':
                        var month = 'May';
                        break;
                    case '4':
                        var month = 'Apr';
                        break;
                    case '3':
                        var month = 'Mar';
                        break;
                    case '2':
                        var month = 'Feb';
                        break;
                    case '1':
                        var month = 'Jan';
                        break;
                    default:
                        return date;
                    } 
                // switch case end
                return splitDate[2] + ' ' + month + ' ' + splitDate[0]
            },

        },

    }
</script>