<template>
        <span class="add-to-wishlist" @click="addToWishlist(itemId)" data-toggle="tooltip" data-placement="top" title="Add To Wishlist" ></span>
</template>

<script>
    export default {

        props : ['id'],

        data: function() {
            return {
                itemId : this.id,
            };
        },

        created : function(){
             Vue.nextTick(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        },

        methods : {
             emitEvent : function (status){
                // console.log('emit event')
                this.$root.$emit('cartEvent', status);
            },

            addToWishlist : function(itemId){
                // console.log('add to wishlist : ' +itemId);
                var self = this;
                var url = "/api/wishlist/add/"+itemId;
                axios.get(url)
                .then(function (response){
                    if(response.data.status == 'already_in_wishlist')
                    {  
                        Swal.fire({
                        position: 'center',
                        type: 'info',
                        title: 'Item already in wishlist',
                        showConfirmButton: false,
                        timer: 1500
                        })
                    }else{
                    Swal.fire({
                        position: 'center',
                        type: 'success',
                        title: 'Item added to wishlist',
                        showConfirmButton: false,
                        timer: 1500
                        })
                    // console.log('item added to wishlist');
                    var status="add-to-wishlist"
                    self.emitEvent(status);
                    }
                })
                .catch(function (error){
                    console.log(error);
                });
            }
        }
         
    }
</script>