<template>
     <a @click="confirmAction()">
                <span class="add-to-wishlist" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"></span>
    </a>
</template>

<script>
    export default {

        data: function() {
            return {
            };
        },

        created : function(){
             Vue.nextTick(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        },

        methods : {
            confirmAction : function(){
                var self = this;
                Swal.fire({
                    title: 'Please Login to use Wishlist?',
                    text: "If you dont have an account please register!",
                    type: 'info',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ok'
                    }).then((result) => {
                    if (result.value) {
                        self.showLoginModal();
                    }
                })
            },

            showLoginModal : function(){
                // console.log('show login modal');
                this.$modal.show('login-modal');
            }
        }
    }
</script>